/* Převzato z https://github.com/pimbrouwers/YUI-Pure-CSS-Extensions  */

div[class*="pure-pull"],
div[class*="pure-push"] {
	position: relative;
}

.pure-push-1-24 {
	left: 4.1667%;
	*left: 4.1357%
}

.pure-push-1-12,
.pure-push-2-24 {
	left: 8.3333%;
	*left: 8.3023%
}

.pure-push-1-8,
.pure-push-3-24 {
	left: 12.5%;
	*left: 12.469%
}

.pure-push-1-6,
.pure-push-4-24 {
	left: 16.6667%;
	*left: 16.6357%
}

.pure-push-1-5 {
	left: 20%;
	*left: 19.969%
}

.pure-push-5-24 {
	left: 20.8333%;
	*left: 20.8023%
}

.pure-push-1-4,
.pure-push-6-24 {
	left: 25%;
	*left: 24.969%
}

.pure-push-7-24 {
	left: 29.1667%;
	*left: 29.1357%
}

.pure-push-1-3,
.pure-push-2-6,
.pure-push-8-24 {
	left: 33.3333%;
	*left: 33.3023%
}

.pure-push-3-8,
.pure-push-9-24 {
	left: 37.5%;
	*left: 37.469%
}

.pure-push-2-5 {
	left: 40%;
	*left: 39.969%
}

.pure-push-5-12,
.pure-push-10-24 {
	left: 41.6667%;
	*left: 41.6357%
}

.pure-push-11-24 {
	left: 45.8333%;
	*left: 45.8023%
}

.pure-push-1-2,
.pure-push-2-4,
.pure-push-12-24 {
	left: 50%;
	*left: 49.969%
}

.pure-push-13-24 {
	left: 54.1667%;
	*left: 54.1357%
}

.pure-push-7-12,
.pure-push-14-24 {
	left: 58.3333%;
	*left: 58.3023%
}

.pure-push-3-5 {
	left: 60%;
	*left: 59.969%
}

.pure-push-5-8,
.pure-push-15-24 {
	left: 62.5%;
	*left: 62.469%
}

.pure-push-2-3,
.pure-push-16-24 {
	left: 66.6667%;
	*left: 66.6357%
}

.pure-push-17-24 {
	left: 70.8333%;
	*left: 70.8023%
}

.pure-push-3-4,
.pure-push-18-24 {
	left: 75%;
	*left: 74.969%
}

.pure-push-19-24 {
	left: 79.1667%;
	*left: 79.1357%
}

.pure-push-4-5 {
	left: 80%;
	*left: 79.969%
}

.pure-push-5-6,
.pure-push-20-24 {
	left: 83.3333%;
	*left: 83.3023%
}

.pure-push-7-8,
.pure-push-21-24 {
	left: 87.5%;
	*left: 87.469%
}

.pure-push-11-12,
.pure-push-22-24 {
	left: 91.6667%;
	*left: 91.6357%
}

.pure-push-23-24 {
	left: 95.8333%;
	*left: 95.8023%
}

.pure-push-1,
.pure-push-1-1,
.pure-push-5-5,
.pure-push-24-24 {
	left: 100%
}

.pure-pull-1-24 {
	right: 4.1667%;
	*right: 4.1357%
}

.pure-pull-1-12,
.pure-pull-2-24 {
	right: 8.3333%;
	*right: 8.3023%
}

.pure-pull-1-8,
.pure-pull-3-24 {
	right: 12.5%;
	*right: 12.469%
}

.pure-pull-1-6,
.pure-pull-4-24 {
	right: 16.6667%;
	*right: 16.6357%
}

.pure-pull-1-5 {
	right: 20%;
	*right: 19.969%
}

.pure-pull-5-24 {
	right: 20.8333%;
	*right: 20.8023%
}

.pure-pull-1-4,
.pure-pull-6-24 {
	right: 25%;
	*right: 24.969%
}

.pure-pull-7-24 {
	right: 29.1667%;
	*right: 29.1357%
}

.pure-pull-1-3,
.pure-pull-8-24 {
	right: 33.3333%;
	*right: 33.3023%
}

.pure-pull-3-8,
.pure-pull-9-24 {
	right: 37.5%;
	*right: 37.469%
}

.pure-pull-2-5 {
	right: 40%;
	*right: 39.969%
}

.pure-pull-5-12,
.pure-pull-10-24 {
	right: 41.6667%;
	*right: 41.6357%
}

.pure-pull-11-24 {
	right: 45.8333%;
	*right: 45.8023%
}

.pure-pull-1-2,
.pure-pull-2-4,
.pure-pull-12-24 {
	right: 50%;
	*right: 49.969%
}

.pure-pull-13-24 {
	right: 54.1667%;
	*right: 54.1357%
}

.pure-pull-7-12,
.pure-pull-14-24 {
	right: 58.3333%;
	*right: 58.3023%
}

.pure-pull-3-5 {
	right: 60%;
	*right: 59.969%
}

.pure-pull-5-8,
.pure-pull-15-24 {
	right: 62.5%;
	*right: 62.469%
}

.pure-pull-2-3,
.pure-pull-16-24 {
	right: 66.6667%;
	*right: 66.6357%
}

.pure-pull-17-24 {
	right: 70.8333%;
	*right: 70.8023%
}

.pure-pull-3-4,
.pure-pull-18-24 {
	right: 75%;
	*right: 74.969%
}

.pure-pull-19-24 {
	right: 79.1667%;
	*right: 79.1357%
}

.pure-pull-4-5 {
	right: 80%;
	*right: 79.969%
}

.pure-pull-5-6,
.pure-pull-20-24 {
	right: 83.3333%;
	*right: 83.3023%
}

.pure-pull-7-8,
.pure-pull-21-24 {
	right: 87.5%;
	*right: 87.469%
}

.pure-pull-11-12,
.pure-pull-22-24 {
	right: 91.6667%;
	*right: 91.6357%
}

.pure-pull-23-24 {
	right: 95.8333%;
	*right: 95.8023%
}

.pure-pull-1,
.pure-pull-1-1,
.pure-pull-5-5,
.pure-pull-24-24 {
	right: 100%
}

@media (min-width: 21.875em) {
	.pure-push-v350-1-24 {
		left: 4.1667%;
		*left: 4.1357%
	}
	.pure-push-v350-1-12,
	.pure-push-v350-2-24 {
		left: 8.3333%;
		*left: 8.3023%
	}
	.pure-push-v350-1-8,
	.pure-push-v350-3-24 {
		left: 12.5%;
		*left: 12.469%
	}
	.pure-push-v350-1-6,
	.pure-push-v350-4-24 {
		left: 16.6667%;
		*left: 16.6357%
	}
	.pure-push-v350-1-5 {
		left: 20%;
		*left: 19.969%
	}
	.pure-push-v350-5-24 {
		left: 20.8333%;
		*left: 20.8023%
	}
	.pure-push-v350-1-4,
	.pure-push-v350-6-24 {
		left: 25%;
		*left: 24.969%
	}
	.pure-push-v350-7-24 {
		left: 29.1667%;
		*left: 29.1357%
	}
	.pure-push-v350-1-3,
	.pure-push-v350-2-6,
	.pure-push-v350-8-24 {
		left: 33.3333%;
		*left: 33.3023%
	}
	.pure-push-v350-3-8,
	.pure-push-v350-9-24 {
		left: 37.5%;
		*left: 37.469%
	}
	.pure-push-v350-2-5 {
		left: 40%;
		*left: 39.969%
	}
	.pure-push-v350-5-12,
	.pure-push-v350-10-24 {
		left: 41.6667%;
		*left: 41.6357%
	}
	.pure-push-v350-11-24 {
		left: 45.8333%;
		*left: 45.8023%
	}
	.pure-push-v350-1-2,
	.pure-push-v350-2-4,
	.pure-push-v350-12-24 {
		left: 50%;
		*left: 49.969%
	}
	.pure-push-v350-13-24 {
		left: 54.1667%;
		*left: 54.1357%
	}
	.pure-push-v350-7-12,
	.pure-push-v350-14-24 {
		left: 58.3333%;
		*left: 58.3023%
	}
	.pure-push-v350-3-5 {
		left: 60%;
		*left: 59.969%
	}
	.pure-push-v350-5-8,
	.pure-push-v350-15-24 {
		left: 62.5%;
		*left: 62.469%
	}
	.pure-push-v350-2-3,
	.pure-push-v350-16-24 {
		left: 66.6667%;
		*left: 66.6357%
	}
	.pure-push-v350-17-24 {
		left: 70.8333%;
		*left: 70.8023%
	}
	.pure-push-v350-3-4,
	.pure-push-v350-18-24 {
		left: 75%;
		*left: 74.969%
	}
	.pure-push-v350-19-24 {
		left: 79.1667%;
		*left: 79.1357%
	}
	.pure-push-v350-4-5 {
		left: 80%;
		*left: 79.969%
	}
	.pure-push-v350-5-6,
	.pure-push-v350-20-24 {
		left: 83.3333%;
		*left: 83.3023%
	}
	.pure-push-v350-7-8,
	.pure-push-v350-21-24 {
		left: 87.5%;
		*left: 87.469%
	}
	.pure-push-v350-11-12,
	.pure-push-v350-22-24 {
		left: 91.6667%;
		*left: 91.6357%
	}
	.pure-push-v350-23-24 {
		left: 95.8333%;
		*left: 95.8023%
	}
	.pure-push-v350-1,
	.pure-push-v350-1-1,
	.pure-push-v350-5-5,
	.pure-push-v350-24-24 {
		left: 100%
	}
	.pure-pull-v350-1-24 {
		right: 4.1667%;
		*right: 4.1357%
	}
	.pure-pull-v350-1-12,
	.pure-pull-v350-2-24 {
		right: 8.3333%;
		*right: 8.3023%
	}
	.pure-pull-v350-1-8,
	.pure-pull-v350-3-24 {
		right: 12.5%;
		*right: 12.469%
	}
	.pure-pull-v350-1-6,
	.pure-pull-v350-4-24 {
		right: 16.6667%;
		*right: 16.6357%
	}
	.pure-pull-v350-1-5 {
		right: 20%;
		*right: 19.969%
	}
	.pure-pull-v350-5-24 {
		right: 20.8333%;
		*right: 20.8023%
	}
	.pure-pull-v350-1-4,
	.pure-pull-v350-6-24 {
		right: 25%;
		*right: 24.969%
	}
	.pure-pull-v350-7-24 {
		right: 29.1667%;
		*right: 29.1357%
	}
	.pure-pull-v350-1-3,
	.pure-pull-v350-8-24 {
		right: 33.3333%;
		*right: 33.3023%
	}
	.pure-pull-v350-3-8,
	.pure-pull-v350-9-24 {
		right: 37.5%;
		*right: 37.469%
	}
	.pure-pull-v350-2-5 {
		right: 40%;
		*right: 39.969%
	}
	.pure-pull-v350-5-12,
	.pure-pull-v350-10-24 {
		right: 41.6667%;
		*right: 41.6357%
	}
	.pure-pull-v350-11-24 {
		right: 45.8333%;
		*right: 45.8023%
	}
	.pure-pull-v350-1-2,
	.pure-pull-v350-2-4,
	.pure-pull-v350-12-24 {
		right: 50%;
		*right: 49.969%
	}
	.pure-pull-v350-13-24 {
		right: 54.1667%;
		*right: 54.1357%
	}
	.pure-pull-v350-7-12,
	.pure-pull-v350-14-24 {
		right: 58.3333%;
		*right: 58.3023%
	}
	.pure-pull-v350-3-5 {
		right: 60%;
		*right: 59.969%
	}
	.pure-pull-v350-5-8,
	.pure-pull-v350-15-24 {
		right: 62.5%;
		*right: 62.469%
	}
	.pure-pull-v350-2-3,
	.pure-pull-v350-16-24 {
		right: 66.6667%;
		*right: 66.6357%
	}
	.pure-pull-v350-17-24 {
		right: 70.8333%;
		*right: 70.8023%
	}
	.pure-pull-v350-3-4,
	.pure-pull-v350-18-24 {
		right: 75%;
		*right: 74.969%
	}
	.pure-pull-v350-19-24 {
		right: 79.1667%;
		*right: 79.1357%
	}
	.pure-pull-v350-4-5 {
		right: 80%;
		*right: 79.969%
	}
	.pure-pull-v350-5-6,
	.pure-pull-v350-20-24 {
		right: 83.3333%;
		*right: 83.3023%
	}
	.pure-pull-v350-7-8,
	.pure-pull-v350-21-24 {
		right: 87.5%;
		*right: 87.469%
	}
	.pure-pull-v350-11-12,
	.pure-pull-v350-22-24 {
		right: 91.6667%;
		*right: 91.6357%
	}
	.pure-pull-v350-23-24 {
		right: 95.8333%;
		*right: 95.8023%
	}
	.pure-pull-v350-1,
	.pure-pull-v350-1-1,
	.pure-pull-v350-5-5,
	.pure-pull-v350-24-24 {
		right: 100%
	}
}


@media (min-width: 31.25em) {
	.pure-push-v500-1-24 {
		left: 4.1667%;
		*left: 4.1357%
	}
	.pure-push-v500-1-12,
	.pure-push-v500-2-24 {
		left: 8.3333%;
		*left: 8.3023%
	}
	.pure-push-v500-1-8,
	.pure-push-v500-3-24 {
		left: 12.5%;
		*left: 12.469%
	}
	.pure-push-v500-1-6,
	.pure-push-v500-4-24 {
		left: 16.6667%;
		*left: 16.6357%
	}
	.pure-push-v500-1-5 {
		left: 20%;
		*left: 19.969%
	}
	.pure-push-v500-5-24 {
		left: 20.8333%;
		*left: 20.8023%
	}
	.pure-push-v500-1-4,
	.pure-push-v500-6-24 {
		left: 25%;
		*left: 24.969%
	}
	.pure-push-v500-7-24 {
		left: 29.1667%;
		*left: 29.1357%
	}
	.pure-push-v500-1-3,
	.pure-push-v500-2-6,
	.pure-push-v500-8-24 {
		left: 33.3333%;
		*left: 33.3023%
	}
	.pure-push-v500-3-8,
	.pure-push-v500-9-24 {
		left: 37.5%;
		*left: 37.469%
	}
	.pure-push-v500-2-5 {
		left: 40%;
		*left: 39.969%
	}
	.pure-push-v500-5-12,
	.pure-push-v500-10-24 {
		left: 41.6667%;
		*left: 41.6357%
	}
	.pure-push-v500-11-24 {
		left: 45.8333%;
		*left: 45.8023%
	}
	.pure-push-v500-1-2,
	.pure-push-v500-2-4,
	.pure-push-v500-12-24 {
		left: 50%;
		*left: 49.969%
	}
	.pure-push-v500-13-24 {
		left: 54.1667%;
		*left: 54.1357%
	}
	.pure-push-v500-7-12,
	.pure-push-v500-14-24 {
		left: 58.3333%;
		*left: 58.3023%
	}
	.pure-push-v500-3-5 {
		left: 60%;
		*left: 59.969%
	}
	.pure-push-v500-5-8,
	.pure-push-v500-15-24 {
		left: 62.5%;
		*left: 62.469%
	}
	.pure-push-v500-2-3,
	.pure-push-v500-16-24 {
		left: 66.6667%;
		*left: 66.6357%
	}
	.pure-push-v500-17-24 {
		left: 70.8333%;
		*left: 70.8023%
	}
	.pure-push-v500-3-4,
	.pure-push-v500-18-24 {
		left: 75%;
		*left: 74.969%
	}
	.pure-push-v500-19-24 {
		left: 79.1667%;
		*left: 79.1357%
	}
	.pure-push-v500-4-5 {
		left: 80%;
		*left: 79.969%
	}
	.pure-push-v500-5-6,
	.pure-push-v500-20-24 {
		left: 83.3333%;
		*left: 83.3023%
	}
	.pure-push-v500-7-8,
	.pure-push-v500-21-24 {
		left: 87.5%;
		*left: 87.469%
	}
	.pure-push-v500-11-12,
	.pure-push-v500-22-24 {
		left: 91.6667%;
		*left: 91.6357%
	}
	.pure-push-v500-23-24 {
		left: 95.8333%;
		*left: 95.8023%
	}
	.pure-push-v500-1,
	.pure-push-v500-1-1,
	.pure-push-v500-5-5,
	.pure-push-v500-24-24 {
		left: 100%
	}
	.pure-pull-v500-1-24 {
		right: 4.1667%;
		*right: 4.1357%
	}
	.pure-pull-v500-1-12,
	.pure-pull-v500-2-24 {
		right: 8.3333%;
		*right: 8.3023%
	}
	.pure-pull-v500-1-8,
	.pure-pull-v500-3-24 {
		right: 12.5%;
		*right: 12.469%
	}
	.pure-pull-v500-1-6,
	.pure-pull-v500-4-24 {
		right: 16.6667%;
		*right: 16.6357%
	}
	.pure-pull-v500-1-5 {
		right: 20%;
		*right: 19.969%
	}
	.pure-pull-v500-5-24 {
		right: 20.8333%;
		*right: 20.8023%
	}
	.pure-pull-v500-1-4,
	.pure-pull-v500-6-24 {
		right: 25%;
		*right: 24.969%
	}
	.pure-pull-v500-7-24 {
		right: 29.1667%;
		*right: 29.1357%
	}
	.pure-pull-v500-1-3,
	.pure-pull-v500-8-24 {
		right: 33.3333%;
		*right: 33.3023%
	}
	.pure-pull-v500-3-8,
	.pure-pull-v500-9-24 {
		right: 37.5%;
		*right: 37.469%
	}
	.pure-pull-v500-2-5 {
		right: 40%;
		*right: 39.969%
	}
	.pure-pull-v500-5-12,
	.pure-pull-v500-10-24 {
		right: 41.6667%;
		*right: 41.6357%
	}
	.pure-pull-v500-11-24 {
		right: 45.8333%;
		*right: 45.8023%
	}
	.pure-pull-v500-1-2,
	.pure-pull-v500-12-24 {
		right: 50%;
		*right: 49.969%
	}
	.pure-pull-v500-13-24 {
		right: 54.1667%;
		*right: 54.1357%
	}
	.pure-pull-v500-7-12,
	.pure-pull-v500-14-24 {
		right: 58.3333%;
		*right: 58.3023%
	}
	.pure-pull-v500-3-5 {
		right: 60%;
		*right: 59.969%
	}
	.pure-pull-v500-5-8,
	.pure-pull-v500-15-24 {
		right: 62.5%;
		*right: 62.469%
	}
	.pure-pull-v500-2-3,
	.pure-pull-v500-16-24 {
		right: 66.6667%;
		*right: 66.6357%
	}
	.pure-pull-v500-17-24 {
		right: 70.8333%;
		*right: 70.8023%
	}
	.pure-pull-v500-3-4,
	.pure-pull-v500-18-24 {
		right: 75%;
		*right: 74.969%
	}
	.pure-pull-v500-19-24 {
		right: 79.1667%;
		*right: 79.1357%
	}
	.pure-pull-v500-4-5 {
		right: 80%;
		*right: 79.969%
	}
	.pure-pull-v500-5-6,
	.pure-pull-v500-20-24 {
		right: 83.3333%;
		*right: 83.3023%
	}
	.pure-pull-v500-7-8,
	.pure-pull-v500-21-24 {
		right: 87.5%;
		*right: 87.469%
	}
	.pure-pull-v500-11-12,
	.pure-pull-v500-22-24 {
		right: 91.6667%;
		*right: 91.6357%
	}
	.pure-pull-v500-23-24 {
		right: 95.8333%;
		*right: 95.8023%
	}
	.pure-pull-v500-1,
	.pure-pull-v500-1-1,
	.pure-pull-v500-5-5,
	.pure-pull-v500-24-24 {
		right: 100%
	}
}

@media (min-width: 37.5em) {
	.pure-push-v600-1-24 {
		left: 4.1667%;
		*left: 4.1357%
	}
	.pure-push-v600-1-12,
	.pure-push-v600-2-24 {
		left: 8.3333%;
		*left: 8.3023%
	}
	.pure-push-v600-1-8,
	.pure-push-v600-3-24 {
		left: 12.5%;
		*left: 12.469%
	}
	.pure-push-v600-1-6,
	.pure-push-v600-4-24 {
		left: 16.6667%;
		*left: 16.6357%
	}
	.pure-push-v600-1-5 {
		left: 20%;
		*left: 19.969%
	}
	.pure-push-v600-5-24 {
		left: 20.8333%;
		*left: 20.8023%
	}
	.pure-push-v600-1-4,
	.pure-push-v600-6-24 {
		left: 25%;
		*left: 24.969%
	}
	.pure-push-v600-7-24 {
		left: 29.1667%;
		*left: 29.1357%
	}
	.pure-push-v600-1-3,
	.pure-push-v600-2-6,
	.pure-push-v600-8-24 {
		left: 33.3333%;
		*left: 33.3023%
	}
	.pure-push-v600-3-8,
	.pure-push-v600-9-24 {
		left: 37.5%;
		*left: 37.469%
	}
	.pure-push-v600-2-5 {
		left: 40%;
		*left: 39.969%
	}
	.pure-push-v600-5-12,
	.pure-push-v600-10-24 {
		left: 41.6667%;
		*left: 41.6357%
	}
	.pure-push-v600-11-24 {
		left: 45.8333%;
		*left: 45.8023%
	}
	.pure-push-v600-1-2,
	.pure-push-v600-2-4,
	.pure-push-v600-12-24 {
		left: 50%;
		*left: 49.969%
	}
	.pure-push-v600-13-24 {
		left: 54.1667%;
		*left: 54.1357%
	}
	.pure-push-v600-7-12,
	.pure-push-v600-14-24 {
		left: 58.3333%;
		*left: 58.3023%
	}
	.pure-push-v600-3-5 {
		left: 60%;
		*left: 59.969%
	}
	.pure-push-v600-5-8,
	.pure-push-v600-15-24 {
		left: 62.5%;
		*left: 62.469%
	}
	.pure-push-v600-2-3,
	.pure-push-v600-16-24 {
		left: 66.6667%;
		*left: 66.6357%
	}
	.pure-push-v600-17-24 {
		left: 70.8333%;
		*left: 70.8023%
	}
	.pure-push-v600-3-4,
	.pure-push-v600-18-24 {
		left: 75%;
		*left: 74.969%
	}
	.pure-push-v600-19-24 {
		left: 79.1667%;
		*left: 79.1357%
	}
	.pure-push-v600-4-5 {
		left: 80%;
		*left: 79.969%
	}
	.pure-push-v600-5-6,
	.pure-push-v600-20-24 {
		left: 83.3333%;
		*left: 83.3023%
	}
	.pure-push-v600-7-8,
	.pure-push-v600-21-24 {
		left: 87.5%;
		*left: 87.469%
	}
	.pure-push-v600-11-12,
	.pure-push-v600-22-24 {
		left: 91.6667%;
		*left: 91.6357%
	}
	.pure-push-v600-23-24 {
		left: 95.8333%;
		*left: 95.8023%
	}
	.pure-push-v600-1,
	.pure-push-v600-1-1,
	.pure-push-v600-5-5,
	.pure-push-v600-24-24 {
		left: 100%
	}
	.pure-pull-v600-1-24 {
		right: 4.1667%;
		*right: 4.1357%
	}
	.pure-pull-v600-1-12,
	.pure-pull-v600-2-24 {
		right: 8.3333%;
		*right: 8.3023%
	}
	.pure-pull-v600-1-8,
	.pure-pull-v600-3-24 {
		right: 12.5%;
		*right: 12.469%
	}
	.pure-pull-v600-1-6,
	.pure-pull-v600-4-24 {
		right: 16.6667%;
		*right: 16.6357%
	}
	.pure-pull-v600-1-5 {
		right: 20%;
		*right: 19.969%
	}
	.pure-pull-v600-5-24 {
		right: 20.8333%;
		*right: 20.8023%
	}
	.pure-pull-v600-1-4,
	.pure-pull-v600-6-24 {
		right: 25%;
		*right: 24.969%
	}
	.pure-pull-v600-7-24 {
		right: 29.1667%;
		*right: 29.1357%
	}
	.pure-pull-v600-1-3,
	.pure-pull-v600-8-24 {
		right: 33.3333%;
		*right: 33.3023%
	}
	.pure-pull-v600-3-8,
	.pure-pull-v600-9-24 {
		right: 37.5%;
		*right: 37.469%
	}
	.pure-pull-v600-2-5 {
		right: 40%;
		*right: 39.969%
	}
	.pure-pull-v600-5-12,
	.pure-pull-v600-10-24 {
		right: 41.6667%;
		*right: 41.6357%
	}
	.pure-pull-v600-11-24 {
		right: 45.8333%;
		*right: 45.8023%
	}
	.pure-pull-v600-1-2,
	.pure-pull-v600-12-24 {
		right: 50%;
		*right: 49.969%
	}
	.pure-pull-v600-13-24 {
		right: 54.1667%;
		*right: 54.1357%
	}
	.pure-pull-v600-7-12,
	.pure-pull-v600-14-24 {
		right: 58.3333%;
		*right: 58.3023%
	}
	.pure-pull-v600-3-5 {
		right: 60%;
		*right: 59.969%
	}
	.pure-pull-v600-5-8,
	.pure-pull-v600-15-24 {
		right: 62.5%;
		*right: 62.469%
	}
	.pure-pull-v600-2-3,
	.pure-pull-v600-16-24 {
		right: 66.6667%;
		*right: 66.6357%
	}
	.pure-pull-v600-17-24 {
		right: 70.8333%;
		*right: 70.8023%
	}
	.pure-pull-v600-3-4,
	.pure-pull-v600-18-24 {
		right: 75%;
		*right: 74.969%
	}
	.pure-pull-v600-19-24 {
		right: 79.1667%;
		*right: 79.1357%
	}
	.pure-pull-v600-4-5 {
		right: 80%;
		*right: 79.969%
	}
	.pure-pull-v600-5-6,
	.pure-pull-v600-20-24 {
		right: 83.3333%;
		*right: 83.3023%
	}
	.pure-pull-v600-7-8,
	.pure-pull-v600-21-24 {
		right: 87.5%;
		*right: 87.469%
	}
	.pure-pull-v600-11-12,
	.pure-pull-v600-22-24 {
		right: 91.6667%;
		*right: 91.6357%
	}
	.pure-pull-v600-23-24 {
		right: 95.8333%;
		*right: 95.8023%
	}
	.pure-pull-v600-1,
	.pure-pull-v600-1-1,
	.pure-pull-v600-5-5,
	.pure-pull-v600-24-24 {
		right: 100%
	}
}


@media (min-width: 43.75em) {
	.pure-push-v700-1-24 {
		left: 4.1667%;
		*left: 4.1357%
	}
	.pure-push-v700-1-12,
	.pure-push-v700-2-24 {
		left: 8.3333%;
		*left: 8.3023%
	}
	.pure-push-v700-1-8,
	.pure-push-v700-3-24 {
		left: 12.5%;
		*left: 12.469%
	}
	.pure-push-v700-1-6,
	.pure-push-v700-4-24 {
		left: 16.6667%;
		*left: 16.6357%
	}
	.pure-push-v700-1-5 {
		left: 20%;
		*left: 19.969%
	}
	.pure-push-v700-5-24 {
		left: 20.8333%;
		*left: 20.8023%
	}
	.pure-push-v700-1-4,
	.pure-push-v700-6-24 {
		left: 25%;
		*left: 24.969%
	}
	.pure-push-v700-7-24 {
		left: 29.1667%;
		*left: 29.1357%
	}
	.pure-push-v700-1-3,
	.pure-push-v700-8-24 {
		left: 33.3333%;
		*left: 33.3023%
	}
	.pure-push-v700-3-8,
	.pure-push-v700-9-24 {
		left: 37.5%;
		*left: 37.469%
	}
	.pure-push-v700-2-5 {
		left: 40%;
		*left: 39.969%
	}
	.pure-push-v700-5-12,
	.pure-push-v700-10-24 {
		left: 41.6667%;
		*left: 41.6357%
	}
	.pure-push-v700-11-24 {
		left: 45.8333%;
		*left: 45.8023%
	}
	.pure-push-v700-1-2,
	.pure-push-v700-12-24 {
		left: 50%;
		*left: 49.969%
	}
	.pure-push-v700-13-24 {
		left: 54.1667%;
		*left: 54.1357%
	}
	.pure-push-v700-7-12,
	.pure-push-v700-14-24 {
		left: 58.3333%;
		*left: 58.3023%
	}
	.pure-push-v700-3-5 {
		left: 60%;
		*left: 59.969%
	}
	.pure-push-v700-5-8,
	.pure-push-v700-15-24 {
		left: 62.5%;
		*left: 62.469%
	}
	.pure-push-v700-2-3,
	.pure-push-v700-16-24 {
		left: 66.6667%;
		*left: 66.6357%
	}
	.pure-push-v700-17-24 {
		left: 70.8333%;
		*left: 70.8023%
	}
	.pure-push-v700-3-4,
	.pure-push-v700-18-24 {
		left: 75%;
		*left: 74.969%
	}
	.pure-push-v700-19-24 {
		left: 79.1667%;
		*left: 79.1357%
	}
	.pure-push-v700-4-5 {
		left: 80%;
		*left: 79.969%
	}
	.pure-push-v700-5-6,
	.pure-push-v700-20-24 {
		left: 83.3333%;
		*left: 83.3023%
	}
	.pure-push-v700-7-8,
	.pure-push-v700-21-24 {
		left: 87.5%;
		*left: 87.469%
	}
	.pure-push-v700-11-12,
	.pure-push-v700-22-24 {
		left: 91.6667%;
		*left: 91.6357%
	}
	.pure-push-v700-23-24 {
		left: 95.8333%;
		*left: 95.8023%
	}
	.pure-push-v700-1,
	.pure-push-v700-1-1,
	.pure-push-v700-5-5,
	.pure-push-v700-24-24 {
		left: 100%
	}
	.pure-pull-v700-1-24 {
		right: 4.1667%;
		*right: 4.1357%
	}
	.pure-pull-v700-1-12,
	.pure-pull-v700-2-24 {
		right: 8.3333%;
		*right: 8.3023%
	}
	.pure-pull-v700-1-8,
	.pure-pull-v700-3-24 {
		right: 12.5%;
		*right: 12.469%
	}
	.pure-pull-v700-1-6,
	.pure-pull-v700-4-24 {
		right: 16.6667%;
		*right: 16.6357%
	}
	.pure-pull-v700-1-5 {
		right: 20%;
		*right: 19.969%
	}
	.pure-pull-v700-5-24 {
		right: 20.8333%;
		*right: 20.8023%
	}
	.pure-pull-v700-1-4,
	.pure-pull-v700-6-24 {
		right: 25%;
		*right: 24.969%
	}
	.pure-pull-v700-7-24 {
		right: 29.1667%;
		*right: 29.1357%
	}
	.pure-pull-v700-1-3,
	.pure-pull-v700-8-24 {
		right: 33.3333%;
		*right: 33.3023%
	}
	.pure-pull-v700-3-8,
	.pure-pull-v700-9-24 {
		right: 37.5%;
		*right: 37.469%
	}
	.pure-pull-v700-2-5 {
		right: 40%;
		*right: 39.969%
	}
	.pure-pull-v700-5-12,
	.pure-pull-v700-10-24 {
		right: 41.6667%;
		*right: 41.6357%
	}
	.pure-pull-v700-11-24 {
		right: 45.8333%;
		*right: 45.8023%
	}
	.pure-pull-v700-1-2,
	.pure-pull-v700-12-24 {
		right: 50%;
		*right: 49.969%
	}
	.pure-pull-v700-13-24 {
		right: 54.1667%;
		*right: 54.1357%
	}
	.pure-pull-v700-7-12,
	.pure-pull-v700-14-24 {
		right: 58.3333%;
		*right: 58.3023%
	}
	.pure-pull-v700-3-5 {
		right: 60%;
		*right: 59.969%
	}
	.pure-pull-v700-5-8,
	.pure-pull-v700-15-24 {
		right: 62.5%;
		*right: 62.469%
	}
	.pure-pull-v700-2-3,
	.pure-pull-v700-16-24 {
		right: 66.6667%;
		*right: 66.6357%
	}
	.pure-pull-v700-17-24 {
		right: 70.8333%;
		*right: 70.8023%
	}
	.pure-pull-v700-3-4,
	.pure-pull-v700-18-24 {
		right: 75%;
		*right: 74.969%
	}
	.pure-pull-v700-19-24 {
		right: 79.1667%;
		*right: 79.1357%
	}
	.pure-pull-v700-4-5 {
		right: 80%;
		*right: 79.969%
	}
	.pure-pull-v700-5-6,
	.pure-pull-v700-20-24 {
		right: 83.3333%;
		*right: 83.3023%
	}
	.pure-pull-v700-7-8,
	.pure-pull-v700-21-24 {
		right: 87.5%;
		*right: 87.469%
	}
	.pure-pull-v700-11-12,
	.pure-pull-v700-22-24 {
		right: 91.6667%;
		*right: 91.6357%
	}
	.pure-pull-v700-23-24 {
		right: 95.8333%;
		*right: 95.8023%
	}
	.pure-pull-v700-1,
	.pure-pull-v700-1-1,
	.pure-pull-v700-5-5,
	.pure-pull-v700-24-24 {
		right: 100%
	}
}

@media (min-width: 50em) {
	.pure-push-v800-1-24 {
		left: 4.1667%;
		*left: 4.1357%
	}
	.pure-push-v800-1-12,
	.pure-push-v800-2-24 {
		left: 8.3333%;
		*left: 8.3023%
	}
	.pure-push-v800-1-8,
	.pure-push-v800-3-24 {
		left: 12.5%;
		*left: 12.469%
	}
	.pure-push-v800-1-6,
	.pure-push-v800-4-24 {
		left: 16.6667%;
		*left: 16.6357%
	}
	.pure-push-v800-1-5 {
		left: 20%;
		*left: 19.969%
	}
	.pure-push-v800-5-24 {
		left: 20.8333%;
		*left: 20.8023%
	}
	.pure-push-v800-1-4,
	.pure-push-v800-6-24 {
		left: 25%;
		*left: 24.969%
	}
	.pure-push-v800-7-24 {
		left: 29.1667%;
		*left: 29.1357%
	}
	.pure-push-v800-1-3,
	.pure-push-v800-2-6,
	.pure-push-v800-8-24 {
		left: 33.3333%;
		*left: 33.3023%
	}
	.pure-push-v800-3-8,
	.pure-push-v800-9-24 {
		left: 37.5%;
		*left: 37.469%
	}
	.pure-push-v800-2-5 {
		left: 40%;
		*left: 39.969%
	}
	.pure-push-v800-5-12,
	.pure-push-v800-10-24 {
		left: 41.6667%;
		*left: 41.6357%
	}
	.pure-push-v800-11-24 {
		left: 45.8333%;
		*left: 45.8023%
	}
	.pure-push-v800-1-2,
	.pure-push-v800-2-4,
	.pure-push-v800-12-24 {
		left: 50%;
		*left: 49.969%
	}
	.pure-push-v800-13-24 {
		left: 54.1667%;
		*left: 54.1357%
	}
	.pure-push-v800-7-12,
	.pure-push-v800-14-24 {
		left: 58.3333%;
		*left: 58.3023%
	}
	.pure-push-v800-3-5 {
		left: 60%;
		*left: 59.969%
	}
	.pure-push-v800-5-8,
	.pure-push-v800-15-24 {
		left: 62.5%;
		*left: 62.469%
	}
	.pure-push-v800-2-3,
	.pure-push-v800-16-24 {
		left: 66.6667%;
		*left: 66.6357%
	}
	.pure-push-v800-17-24 {
		left: 70.8333%;
		*left: 70.8023%
	}
	.pure-push-v800-3-4,
	.pure-push-v800-18-24 {
		left: 75%;
		*left: 74.969%
	}
	.pure-push-v800-19-24 {
		left: 79.1667%;
		*left: 79.1357%
	}
	.pure-push-v800-4-5 {
		left: 80%;
		*left: 79.969%
	}
	.pure-push-v800-5-6,
	.pure-push-v800-20-24 {
		left: 83.3333%;
		*left: 83.3023%
	}
	.pure-push-v800-7-8,
	.pure-push-v800-21-24 {
		left: 87.5%;
		*left: 87.469%
	}
	.pure-push-v800-11-12,
	.pure-push-v800-22-24 {
		left: 91.6667%;
		*left: 91.6357%
	}
	.pure-push-v800-23-24 {
		left: 95.8333%;
		*left: 95.8023%
	}
	.pure-push-v800-1,
	.pure-push-v800-1-1,
	.pure-push-v800-5-5,
	.pure-push-v800-24-24 {
		left: 100%
	}
	.pure-pull-v800-1-24 {
		right: 4.1667%;
		*right: 4.1357%
	}
	.pure-pull-v800-1-12,
	.pure-pull-v800-2-24 {
		right: 8.3333%;
		*right: 8.3023%
	}
	.pure-pull-v800-1-8,
	.pure-pull-v800-3-24 {
		right: 12.5%;
		*right: 12.469%
	}
	.pure-pull-v800-1-6,
	.pure-pull-v800-4-24 {
		right: 16.6667%;
		*right: 16.6357%
	}
	.pure-pull-v800-1-5 {
		right: 20%;
		*right: 19.969%
	}
	.pure-pull-v800-5-24 {
		right: 20.8333%;
		*right: 20.8023%
	}
	.pure-pull-v800-1-4,
	.pure-pull-v800-6-24 {
		right: 25%;
		*right: 24.969%
	}
	.pure-pull-v800-7-24 {
		right: 29.1667%;
		*right: 29.1357%
	}
	.pure-pull-v800-1-3,
	.pure-pull-v800-8-24 {
		right: 33.3333%;
		*right: 33.3023%
	}
	.pure-pull-v800-3-8,
	.pure-pull-v800-9-24 {
		right: 37.5%;
		*right: 37.469%
	}
	.pure-pull-v800-2-5 {
		right: 40%;
		*right: 39.969%
	}
	.pure-pull-v800-5-12,
	.pure-pull-v800-10-24 {
		right: 41.6667%;
		*right: 41.6357%
	}
	.pure-pull-v800-11-24 {
		right: 45.8333%;
		*right: 45.8023%
	}
	.pure-pull-v800-1-2,
	.pure-pull-v800-12-24 {
		right: 50%;
		*right: 49.969%
	}
	.pure-pull-v800-13-24 {
		right: 54.1667%;
		*right: 54.1357%
	}
	.pure-pull-v800-7-12,
	.pure-pull-v800-14-24 {
		right: 58.3333%;
		*right: 58.3023%
	}
	.pure-pull-v800-3-5 {
		right: 60%;
		*right: 59.969%
	}
	.pure-pull-v800-5-8,
	.pure-pull-v800-15-24 {
		right: 62.5%;
		*right: 62.469%
	}
	.pure-pull-v800-2-3,
	.pure-pull-v800-16-24 {
		right: 66.6667%;
		*right: 66.6357%
	}
	.pure-pull-v800-17-24 {
		right: 70.8333%;
		*right: 70.8023%
	}
	.pure-pull-v800-3-4,
	.pure-pull-v800-18-24 {
		right: 75%;
		*right: 74.969%
	}
	.pure-pull-v800-19-24 {
		right: 79.1667%;
		*right: 79.1357%
	}
	.pure-pull-v800-4-5 {
		right: 80%;
		*right: 79.969%
	}
	.pure-pull-v800-5-6,
	.pure-pull-v800-20-24 {
		right: 83.3333%;
		*right: 83.3023%
	}
	.pure-pull-v800-7-8,
	.pure-pull-v800-21-24 {
		right: 87.5%;
		*right: 87.469%
	}
	.pure-pull-v800-11-12,
	.pure-pull-v800-22-24 {
		right: 91.6667%;
		*right: 91.6357%
	}
	.pure-pull-v800-23-24 {
		right: 95.8333%;
		*right: 95.8023%
	}
	.pure-pull-v800-1,
	.pure-pull-v800-1-1,
	.pure-pull-v800-5-5,
	.pure-pull-v800-24-24 {
		right: 100%
	}
}

@media (min-width: 56.25em) {
	.pure-push-v900-1-24 {
		left: 4.1667%;
		*left: 4.1357%
	}
	.pure-push-v900-1-12,
	.pure-push-v900-2-24 {
		left: 8.3333%;
		*left: 8.3023%
	}
	.pure-push-v900-1-8,
	.pure-push-v900-3-24 {
		left: 12.5%;
		*left: 12.469%
	}
	.pure-push-v900-1-6,
	.pure-push-v900-4-24 {
		left: 16.6667%;
		*left: 16.6357%
	}
	.pure-push-v900-1-5 {
		left: 20%;
		*left: 19.969%
	}
	.pure-push-v900-5-24 {
		left: 20.8333%;
		*left: 20.8023%
	}
	.pure-push-v900-1-4,
	.pure-push-v900-6-24 {
		left: 25%;
		*left: 24.969%
	}
	.pure-push-v900-7-24 {
		left: 29.1667%;
		*left: 29.1357%
	}
	.pure-push-v900-1-3,
	.pure-push-v900-2-6,
	.pure-push-v900-8-24 {
		left: 33.3333%;
		*left: 33.3023%
	}
	.pure-push-v900-3-8,
	.pure-push-v900-9-24 {
		left: 37.5%;
		*left: 37.469%
	}
	.pure-push-v900-2-5 {
		left: 40%;
		*left: 39.969%
	}
	.pure-push-v900-5-12,
	.pure-push-v900-10-24 {
		left: 41.6667%;
		*left: 41.6357%
	}
	.pure-push-v900-11-24 {
		left: 45.8333%;
		*left: 45.8023%
	}
	.pure-push-v900-1-2,
	.pure-push-v900-2-4,
	.pure-push-v900-12-24 {
		left: 50%;
		*left: 49.969%
	}
	.pure-push-v900-13-24 {
		left: 54.1667%;
		*left: 54.1357%
	}
	.pure-push-v900-7-12,
	.pure-push-v900-14-24 {
		left: 58.3333%;
		*left: 58.3023%
	}
	.pure-push-v900-3-5 {
		left: 60%;
		*left: 59.969%
	}
	.pure-push-v900-5-8,
	.pure-push-v900-15-24 {
		left: 62.5%;
		*left: 62.469%
	}
	.pure-push-v900-2-3,
	.pure-push-v900-16-24 {
		left: 66.6667%;
		*left: 66.6357%
	}
	.pure-push-v900-17-24 {
		left: 70.8333%;
		*left: 70.8023%
	}
	.pure-push-v900-3-4,
	.pure-push-v900-18-24 {
		left: 75%;
		*left: 74.969%
	}
	.pure-push-v900-19-24 {
		left: 79.1667%;
		*left: 79.1357%
	}
	.pure-push-v900-4-5 {
		left: 80%;
		*left: 79.969%
	}
	.pure-push-v900-5-6,
	.pure-push-v900-20-24 {
		left: 83.3333%;
		*left: 83.3023%
	}
	.pure-push-v900-7-8,
	.pure-push-v900-21-24 {
		left: 87.5%;
		*left: 87.469%
	}
	.pure-push-v900-11-12,
	.pure-push-v900-22-24 {
		left: 91.6667%;
		*left: 91.6357%
	}
	.pure-push-v900-23-24 {
		left: 95.8333%;
		*left: 95.8023%
	}
	.pure-push-v900-1,
	.pure-push-v900-1-1,
	.pure-push-v900-5-5,
	.pure-push-v900-24-24 {
		left: 100%
	}
	.pure-pull-v900-1-24 {
		right: 4.1667%;
		*right: 4.1357%
	}
	.pure-pull-v900-1-12,
	.pure-pull-v900-2-24 {
		right: 8.3333%;
		*right: 8.3023%
	}
	.pure-pull-v900-1-8,
	.pure-pull-v900-3-24 {
		right: 12.5%;
		*right: 12.469%
	}
	.pure-pull-v900-1-6,
	.pure-pull-v900-4-24 {
		right: 16.6667%;
		*right: 16.6357%
	}
	.pure-pull-v900-1-5 {
		right: 20%;
		*right: 19.969%
	}
	.pure-pull-v900-5-24 {
		right: 20.8333%;
		*right: 20.8023%
	}
	.pure-pull-v900-1-4,
	.pure-pull-v900-6-24 {
		right: 25%;
		*right: 24.969%
	}
	.pure-pull-v900-7-24 {
		right: 29.1667%;
		*right: 29.1357%
	}
	.pure-pull-v900-1-3,
	.pure-pull-v900-8-24 {
		right: 33.3333%;
		*right: 33.3023%
	}
	.pure-pull-v900-3-8,
	.pure-pull-v900-9-24 {
		right: 37.5%;
		*right: 37.469%
	}
	.pure-pull-v900-2-5 {
		right: 40%;
		*right: 39.969%
	}
	.pure-pull-v900-5-12,
	.pure-pull-v900-10-24 {
		right: 41.6667%;
		*right: 41.6357%
	}
	.pure-pull-v900-11-24 {
		right: 45.8333%;
		*right: 45.8023%
	}
	.pure-pull-v900-1-2,
	.pure-pull-v900-12-24 {
		right: 50%;
		*right: 49.969%
	}
	.pure-pull-v900-13-24 {
		right: 54.1667%;
		*right: 54.1357%
	}
	.pure-pull-v900-7-12,
	.pure-pull-v900-14-24 {
		right: 58.3333%;
		*right: 58.3023%
	}
	.pure-pull-v900-3-5 {
		right: 60%;
		*right: 59.969%
	}
	.pure-pull-v900-5-8,
	.pure-pull-v900-15-24 {
		right: 62.5%;
		*right: 62.469%
	}
	.pure-pull-v900-2-3,
	.pure-pull-v900-16-24 {
		right: 66.6667%;
		*right: 66.6357%
	}
	.pure-pull-v900-17-24 {
		right: 70.8333%;
		*right: 70.8023%
	}
	.pure-pull-v900-3-4,
	.pure-pull-v900-18-24 {
		right: 75%;
		*right: 74.969%
	}
	.pure-pull-v900-19-24 {
		right: 79.1667%;
		*right: 79.1357%
	}
	.pure-pull-v900-4-5 {
		right: 80%;
		*right: 79.969%
	}
	.pure-pull-v900-5-6,
	.pure-pull-v900-20-24 {
		right: 83.3333%;
		*right: 83.3023%
	}
	.pure-pull-v900-7-8,
	.pure-pull-v900-21-24 {
		right: 87.5%;
		*right: 87.469%
	}
	.pure-pull-v900-11-12,
	.pure-pull-v900-22-24 {
		right: 91.6667%;
		*right: 91.6357%
	}
	.pure-pull-v900-23-24 {
		right: 95.8333%;
		*right: 95.8023%
	}
	.pure-pull-v900-1,
	.pure-pull-v900-1-1,
	.pure-pull-v900-5-5,
	.pure-pull-v900-24-24 {
		right: 100%
	}
}

@media (min-width: 62.5em) {
	.pure-push-v1000-1-24 {
		left: 4.1667%;
		*left: 4.1357%
	}
	.pure-push-v1000-1-12,
	.pure-push-v1000-2-24 {
		left: 8.3333%;
		*left: 8.3023%
	}
	.pure-push-v1000-1-8,
	.pure-push-v1000-3-24 {
		left: 12.5%;
		*left: 12.469%
	}
	.pure-push-v1000-1-6,
	.pure-push-v1000-4-24 {
		left: 16.6667%;
		*left: 16.6357%
	}
	.pure-push-v1000-1-5 {
		left: 20%;
		*left: 19.969%
	}
	.pure-push-v1000-5-24 {
		left: 20.8333%;
		*left: 20.8023%
	}
	.pure-push-v1000-1-4,
	.pure-push-v1000-6-24 {
		left: 25%;
		*left: 24.969%
	}
	.pure-push-v1000-7-24 {
		left: 29.1667%;
		*left: 29.1357%
	}
	.pure-push-v1000-1-3,
	.pure-push-v1000-2-6,
	.pure-push-v1000-8-24 {
		left: 33.3333%;
		*left: 33.3023%
	}
	.pure-push-v1000-3-8,
	.pure-push-v1000-9-24 {
		left: 37.5%;
		*left: 37.469%
	}
	.pure-push-v1000-2-5 {
		left: 40%;
		*left: 39.969%
	}
	.pure-push-v1000-5-12,
	.pure-push-v1000-10-24 {
		left: 41.6667%;
		*left: 41.6357%
	}
	.pure-push-v1000-11-24 {
		left: 45.8333%;
		*left: 45.8023%
	}
	.pure-push-v1000-1-2,
	.pure-push-v1000-2-4,
	.pure-push-v1000-12-24 {
		left: 50%;
		*left: 49.969%
	}
	.pure-push-v1000-13-24 {
		left: 54.1667%;
		*left: 54.1357%
	}
	.pure-push-v1000-7-12,
	.pure-push-v1000-14-24 {
		left: 58.3333%;
		*left: 58.3023%
	}
	.pure-push-v1000-3-5 {
		left: 60%;
		*left: 59.969%
	}
	.pure-push-v1000-5-8,
	.pure-push-v1000-15-24 {
		left: 62.5%;
		*left: 62.469%
	}
	.pure-push-v1000-2-3,
	.pure-push-v1000-16-24 {
		left: 66.6667%;
		*left: 66.6357%
	}
	.pure-push-v1000-17-24 {
		left: 70.8333%;
		*left: 70.8023%
	}
	.pure-push-v1000-3-4,
	.pure-push-v1000-18-24 {
		left: 75%;
		*left: 74.969%
	}
	.pure-push-v1000-19-24 {
		left: 79.1667%;
		*left: 79.1357%
	}
	.pure-push-v1000-4-5 {
		left: 80%;
		*left: 79.969%
	}
	.pure-push-v1000-5-6,
	.pure-push-v1000-20-24 {
		left: 83.3333%;
		*left: 83.3023%
	}
	.pure-push-v1000-7-8,
	.pure-push-v1000-21-24 {
		left: 87.5%;
		*left: 87.469%
	}
	.pure-push-v1000-11-12,
	.pure-push-v1000-22-24 {
		left: 91.6667%;
		*left: 91.6357%
	}
	.pure-push-v1000-23-24 {
		left: 95.8333%;
		*left: 95.8023%
	}
	.pure-push-v1000-1,
	.pure-push-v1000-1-1,
	.pure-push-v1000-5-5,
	.pure-push-v1000-24-24 {
		left: 100%
	}
	.pure-pull-v1000-1-24 {
		right: 4.1667%;
		*right: 4.1357%
	}
	.pure-pull-v1000-1-12,
	.pure-pull-v1000-2-24 {
		right: 8.3333%;
		*right: 8.3023%
	}
	.pure-pull-v1000-1-8,
	.pure-pull-v1000-3-24 {
		right: 12.5%;
		*right: 12.469%
	}
	.pure-pull-v1000-1-6,
	.pure-pull-v1000-4-24 {
		right: 16.6667%;
		*right: 16.6357%
	}
	.pure-pull-v1000-1-5 {
		right: 20%;
		*right: 19.969%
	}
	.pure-pull-v1000-5-24 {
		right: 20.8333%;
		*right: 20.8023%
	}
	.pure-pull-v1000-1-4,
	.pure-pull-v1000-6-24 {
		right: 25%;
		*right: 24.969%
	}
	.pure-pull-v1000-7-24 {
		right: 29.1667%;
		*right: 29.1357%
	}
	.pure-pull-v1000-1-3,
	.pure-pull-v1000-8-24 {
		right: 33.3333%;
		*right: 33.3023%
	}
	.pure-pull-v1000-3-8,
	.pure-pull-v1000-9-24 {
		right: 37.5%;
		*right: 37.469%
	}
	.pure-pull-v1000-2-5 {
		right: 40%;
		*right: 39.969%
	}
	.pure-pull-v1000-5-12,
	.pure-pull-v1000-10-24 {
		right: 41.6667%;
		*right: 41.6357%
	}
	.pure-pull-v1000-11-24 {
		right: 45.8333%;
		*right: 45.8023%
	}
	.pure-pull-v1000-1-2,
	.pure-pull-v1000-12-24 {
		right: 50%;
		*right: 49.969%
	}
	.pure-pull-v1000-13-24 {
		right: 54.1667%;
		*right: 54.1357%
	}
	.pure-pull-v1000-7-12,
	.pure-pull-v1000-14-24 {
		right: 58.3333%;
		*right: 58.3023%
	}
	.pure-pull-v1000-3-5 {
		right: 60%;
		*right: 59.969%
	}
	.pure-pull-v1000-5-8,
	.pure-pull-v1000-15-24 {
		right: 62.5%;
		*right: 62.469%
	}
	.pure-pull-v1000-2-3,
	.pure-pull-v1000-16-24 {
		right: 66.6667%;
		*right: 66.6357%
	}
	.pure-pull-v1000-17-24 {
		right: 70.8333%;
		*right: 70.8023%
	}
	.pure-pull-v1000-3-4,
	.pure-pull-v1000-18-24 {
		right: 75%;
		*right: 74.969%
	}
	.pure-pull-v1000-19-24 {
		right: 79.1667%;
		*right: 79.1357%
	}
	.pure-pull-v1000-4-5 {
		right: 80%;
		*right: 79.969%
	}
	.pure-pull-v1000-5-6,
	.pure-pull-v1000-20-24 {
		right: 83.3333%;
		*right: 83.3023%
	}
	.pure-pull-v1000-7-8,
	.pure-pull-v1000-21-24 {
		right: 87.5%;
		*right: 87.469%
	}
	.pure-pull-v1000-11-12,
	.pure-pull-v1000-22-24 {
		right: 91.6667%;
		*right: 91.6357%
	}
	.pure-pull-v1000-23-24 {
		right: 95.8333%;
		*right: 95.8023%
	}
	.pure-pull-v1000-1,
	.pure-pull-v1000-1-1,
	.pure-pull-v1000-5-5,
	.pure-pull-v1000-24-24 {
		right: 100%
	}
}

@media (min-width: 68.75em) {
	.pure-push-v1100-1-24 {
		left: 4.1667%;
		*left: 4.1357%
	}
	.pure-push-v1100-1-12,
	.pure-push-v1100-2-24 {
		left: 8.3333%;
		*left: 8.3023%
	}
	.pure-push-v1100-1-8,
	.pure-push-v1100-3-24 {
		left: 12.5%;
		*left: 12.469%
	}
	.pure-push-v1100-1-6,
	.pure-push-v1100-4-24 {
		left: 16.6667%;
		*left: 16.6357%
	}
	.pure-push-v1100-1-5 {
		left: 20%;
		*left: 19.969%
	}
	.pure-push-v1100-5-24 {
		left: 20.8333%;
		*left: 20.8023%
	}
	.pure-push-v1100-1-4,
	.pure-push-v1100-6-24 {
		left: 25%;
		*left: 24.969%
	}
	.pure-push-v1100-7-24 {
		left: 29.1667%;
		*left: 29.1357%
	}
	.pure-push-v1100-1-3,
	.pure-push-v1100-2-6,
	.pure-push-v1100-8-24 {
		left: 33.3333%;
		*left: 33.3023%
	}
	.pure-push-v1100-3-8,
	.pure-push-v1100-9-24 {
		left: 37.5%;
		*left: 37.469%
	}
	.pure-push-v1100-2-5 {
		left: 40%;
		*left: 39.969%
	}
	.pure-push-v1100-5-12,
	.pure-push-v1100-10-24 {
		left: 41.6667%;
		*left: 41.6357%
	}
	.pure-push-v1100-11-24 {
		left: 45.8333%;
		*left: 45.8023%
	}
	.pure-push-v1100-1-2,
	.pure-push-v1100-2-4,
	.pure-push-v1100-12-24 {
		left: 50%;
		*left: 49.969%
	}
	.pure-push-v1100-13-24 {
		left: 54.1667%;
		*left: 54.1357%
	}
	.pure-push-v1100-7-12,
	.pure-push-v1100-14-24 {
		left: 58.3333%;
		*left: 58.3023%
	}
	.pure-push-v1100-3-5 {
		left: 60%;
		*left: 59.969%
	}
	.pure-push-v1100-5-8,
	.pure-push-v1100-15-24 {
		left: 62.5%;
		*left: 62.469%
	}
	.pure-push-v1100-2-3,
	.pure-push-v1100-16-24 {
		left: 66.6667%;
		*left: 66.6357%
	}
	.pure-push-v1100-17-24 {
		left: 70.8333%;
		*left: 70.8023%
	}
	.pure-push-v1100-3-4,
	.pure-push-v1100-18-24 {
		left: 75%;
		*left: 74.969%
	}
	.pure-push-v1100-19-24 {
		left: 79.1667%;
		*left: 79.1357%
	}
	.pure-push-v1100-4-5 {
		left: 80%;
		*left: 79.969%
	}
	.pure-push-v1100-5-6,
	.pure-push-v1100-20-24 {
		left: 83.3333%;
		*left: 83.3023%
	}
	.pure-push-v1100-7-8,
	.pure-push-v1100-21-24 {
		left: 87.5%;
		*left: 87.469%
	}
	.pure-push-v1100-11-12,
	.pure-push-v1100-22-24 {
		left: 91.6667%;
		*left: 91.6357%
	}
	.pure-push-v1100-23-24 {
		left: 95.8333%;
		*left: 95.8023%
	}
	.pure-push-v1100-1,
	.pure-push-v1100-1-1,
	.pure-push-v1100-5-5,
	.pure-push-v1100-24-24 {
		left: 100%
	}
	.pure-pull-v1100-1-24 {
		right: 4.1667%;
		*right: 4.1357%
	}
	.pure-pull-v1100-1-12,
	.pure-pull-v1100-2-24 {
		right: 8.3333%;
		*right: 8.3023%
	}
	.pure-pull-v1100-1-8,
	.pure-pull-v1100-3-24 {
		right: 12.5%;
		*right: 12.469%
	}
	.pure-pull-v1100-1-6,
	.pure-pull-v1100-4-24 {
		right: 16.6667%;
		*right: 16.6357%
	}
	.pure-pull-v1100-1-5 {
		right: 20%;
		*right: 19.969%
	}
	.pure-pull-v1100-5-24 {
		right: 20.8333%;
		*right: 20.8023%
	}
	.pure-pull-v1100-1-4,
	.pure-pull-v1100-6-24 {
		right: 25%;
		*right: 24.969%
	}
	.pure-pull-v1100-7-24 {
		right: 29.1667%;
		*right: 29.1357%
	}
	.pure-pull-v1100-1-3,
	.pure-pull-v1100-8-24 {
		right: 33.3333%;
		*right: 33.3023%
	}
	.pure-pull-v1100-3-8,
	.pure-pull-v1100-9-24 {
		right: 37.5%;
		*right: 37.469%
	}
	.pure-pull-v1100-2-5 {
		right: 40%;
		*right: 39.969%
	}
	.pure-pull-v1100-5-12,
	.pure-pull-v1100-10-24 {
		right: 41.6667%;
		*right: 41.6357%
	}
	.pure-pull-v1100-11-24 {
		right: 45.8333%;
		*right: 45.8023%
	}
	.pure-pull-v1100-1-2,
	.pure-pull-v1100-12-24 {
		right: 50%;
		*right: 49.969%
	}
	.pure-pull-v1100-13-24 {
		right: 54.1667%;
		*right: 54.1357%
	}
	.pure-pull-v1100-7-12,
	.pure-pull-v1100-14-24 {
		right: 58.3333%;
		*right: 58.3023%
	}
	.pure-pull-v1100-3-5 {
		right: 60%;
		*right: 59.969%
	}
	.pure-pull-v1100-5-8,
	.pure-pull-v1100-15-24 {
		right: 62.5%;
		*right: 62.469%
	}
	.pure-pull-v1100-2-3,
	.pure-pull-v1100-16-24 {
		right: 66.6667%;
		*right: 66.6357%
	}
	.pure-pull-v1100-17-24 {
		right: 70.8333%;
		*right: 70.8023%
	}
	.pure-pull-v1100-3-4,
	.pure-pull-v1100-18-24 {
		right: 75%;
		*right: 74.969%
	}
	.pure-pull-v1100-19-24 {
		right: 79.1667%;
		*right: 79.1357%
	}
	.pure-pull-v1100-4-5 {
		right: 80%;
		*right: 79.969%
	}
	.pure-pull-v1100-5-6,
	.pure-pull-v1100-20-24 {
		right: 83.3333%;
		*right: 83.3023%
	}
	.pure-pull-v1100-7-8,
	.pure-pull-v1100-21-24 {
		right: 87.5%;
		*right: 87.469%
	}
	.pure-pull-v1100-11-12,
	.pure-pull-v1100-22-24 {
		right: 91.6667%;
		*right: 91.6357%
	}
	.pure-pull-v1100-23-24 {
		right: 95.8333%;
		*right: 95.8023%
	}
	.pure-pull-v1100-1,
	.pure-pull-v1100-1-1,
	.pure-pull-v1100-5-5,
	.pure-pull-v1100-24-24 {
		right: 100%
	}
}

@media (min-width: 78.125em) {
	.pure-push-v1250-1-24 {
		left: 4.1667%;
		*left: 4.1357%
	}
	.pure-push-v1250-1-12,
	.pure-push-v1250-2-24 {
		left: 8.3333%;
		*left: 8.3023%
	}
	.pure-push-v1250-1-8,
	.pure-push-v1250-3-24 {
		left: 12.5%;
		*left: 12.469%
	}
	.pure-push-v1250-1-6,
	.pure-push-v1250-4-24 {
		left: 16.6667%;
		*left: 16.6357%
	}
	.pure-push-v1250-1-5 {
		left: 20%;
		*left: 19.969%
	}
	.pure-push-v1250-5-24 {
		left: 20.8333%;
		*left: 20.8023%
	}
	.pure-push-v1250-1-4,
	.pure-push-v1250-6-24 {
		left: 25%;
		*left: 24.969%
	}
	.pure-push-v1250-7-24 {
		left: 29.1667%;
		*left: 29.1357%
	}
	.pure-push-v1250-1-3,
	.pure-push-v1250-2-6,
	.pure-push-v1250-8-24 {
		left: 33.3333%;
		*left: 33.3023%
	}
	.pure-push-v1250-3-8,
	.pure-push-v1250-9-24 {
		left: 37.5%;
		*left: 37.469%
	}
	.pure-push-v1250-2-5 {
		left: 40%;
		*left: 39.969%
	}
	.pure-push-v1250-5-12,
	.pure-push-v1250-10-24 {
		left: 41.6667%;
		*left: 41.6357%
	}
	.pure-push-v1250-11-24 {
		left: 45.8333%;
		*left: 45.8023%
	}
	.pure-push-v1250-1-2,
	.pure-push-v1250-2-4,
	.pure-push-v1250-12-24 {
		left: 50%;
		*left: 49.969%
	}
	.pure-push-v1250-13-24 {
		left: 54.1667%;
		*left: 54.1357%
	}
	.pure-push-v1250-7-12,
	.pure-push-v1250-14-24 {
		left: 58.3333%;
		*left: 58.3023%
	}
	.pure-push-v1250-3-5 {
		left: 60%;
		*left: 59.969%
	}
	.pure-push-v1250-5-8,
	.pure-push-v1250-15-24 {
		left: 62.5%;
		*left: 62.469%
	}
	.pure-push-v1250-2-3,
	.pure-push-v1250-16-24 {
		left: 66.6667%;
		*left: 66.6357%
	}
	.pure-push-v1250-17-24 {
		left: 70.8333%;
		*left: 70.8023%
	}
	.pure-push-v1250-3-4,
	.pure-push-v1250-18-24 {
		left: 75%;
		*left: 74.969%
	}
	.pure-push-v1250-19-24 {
		left: 79.1667%;
		*left: 79.1357%
	}
	.pure-push-v1250-4-5 {
		left: 80%;
		*left: 79.969%
	}
	.pure-push-v1250-5-6,
	.pure-push-v1250-20-24 {
		left: 83.3333%;
		*left: 83.3023%
	}
	.pure-push-v1250-7-8,
	.pure-push-v1250-21-24 {
		left: 87.5%;
		*left: 87.469%
	}
	.pure-push-v1250-11-12,
	.pure-push-v1250-22-24 {
		left: 91.6667%;
		*left: 91.6357%
	}
	.pure-push-v1250-23-24 {
		left: 95.8333%;
		*left: 95.8023%
	}
	.pure-push-v1250-1,
	.pure-push-v1250-1-1,
	.pure-push-v1250-5-5,
	.pure-push-v1250-24-24 {
		left: 100%
	}
	.pure-pull-v1250-1-24 {
		right: 4.1667%;
		*right: 4.1357%
	}
	.pure-pull-v1250-1-12,
	.pure-pull-v1250-2-24 {
		right: 8.3333%;
		*right: 8.3023%
	}
	.pure-pull-v1250-1-8,
	.pure-pull-v1250-3-24 {
		right: 12.5%;
		*right: 12.469%
	}
	.pure-pull-v1250-1-6,
	.pure-pull-v1250-4-24 {
		right: 16.6667%;
		*right: 16.6357%
	}
	.pure-pull-v1250-1-5 {
		right: 20%;
		*right: 19.969%
	}
	.pure-pull-v1250-5-24 {
		right: 20.8333%;
		*right: 20.8023%
	}
	.pure-pull-v1250-1-4,
	.pure-pull-v1250-6-24 {
		right: 25%;
		*right: 24.969%
	}
	.pure-pull-v1250-7-24 {
		right: 29.1667%;
		*right: 29.1357%
	}
	.pure-pull-v1250-1-3,
	.pure-pull-v1250-8-24 {
		right: 33.3333%;
		*right: 33.3023%
	}
	.pure-pull-v1250-3-8,
	.pure-pull-v1250-9-24 {
		right: 37.5%;
		*right: 37.469%
	}
	.pure-pull-v1250-2-5 {
		right: 40%;
		*right: 39.969%
	}
	.pure-pull-v1250-5-12,
	.pure-pull-v1250-10-24 {
		right: 41.6667%;
		*right: 41.6357%
	}
	.pure-pull-v1250-11-24 {
		right: 45.8333%;
		*right: 45.8023%
	}
	.pure-pull-v1250-1-2,
	.pure-pull-v1250-12-24 {
		right: 50%;
		*right: 49.969%
	}
	.pure-pull-v1250-13-24 {
		right: 54.1667%;
		*right: 54.1357%
	}
	.pure-pull-v1250-7-12,
	.pure-pull-v1250-14-24 {
		right: 58.3333%;
		*right: 58.3023%
	}
	.pure-pull-v1250-3-5 {
		right: 60%;
		*right: 59.969%
	}
	.pure-pull-v1250-5-8,
	.pure-pull-v1250-15-24 {
		right: 62.5%;
		*right: 62.469%
	}
	.pure-pull-v1250-2-3,
	.pure-pull-v1250-16-24 {
		right: 66.6667%;
		*right: 66.6357%
	}
	.pure-pull-v1250-17-24 {
		right: 70.8333%;
		*right: 70.8023%
	}
	.pure-pull-v1250-3-4,
	.pure-pull-v1250-18-24 {
		right: 75%;
		*right: 74.969%
	}
	.pure-pull-v1250-19-24 {
		right: 79.1667%;
		*right: 79.1357%
	}
	.pure-pull-v1250-4-5 {
		right: 80%;
		*right: 79.969%
	}
	.pure-pull-v1250-5-6,
	.pure-pull-v1250-20-24 {
		right: 83.3333%;
		*right: 83.3023%
	}
	.pure-pull-v1250-7-8,
	.pure-pull-v1250-21-24 {
		right: 87.5%;
		*right: 87.469%
	}
	.pure-pull-v1250-11-12,
	.pure-pull-v1250-22-24 {
		right: 91.6667%;
		*right: 91.6357%
	}
	.pure-pull-v1250-23-24 {
		right: 95.8333%;
		*right: 95.8023%
	}
	.pure-pull-v1250-1,
	.pure-pull-v1250-1-1,
	.pure-pull-v1250-5-5,
	.pure-pull-v1250-24-24 {
		right: 100%
	}
}

@media (min-width: 87.5em) {
	.pure-push-v1400-1-24 {
		left: 4.1667%;
		*left: 4.1357%
	}
	.pure-push-v1400-1-12,
	.pure-push-v1400-2-24 {
		left: 8.3333%;
		*left: 8.3023%
	}
	.pure-push-v1400-1-8,
	.pure-push-v1400-3-24 {
		left: 12.5%;
		*left: 12.469%
	}
	.pure-push-v1400-1-6,
	.pure-push-v1400-4-24 {
		left: 16.6667%;
		*left: 16.6357%
	}
	.pure-push-v1400-1-5 {
		left: 20%;
		*left: 19.969%
	}
	.pure-push-v1400-5-24 {
		left: 20.8333%;
		*left: 20.8023%
	}
	.pure-push-v1400-1-4,
	.pure-push-v1400-6-24 {
		left: 25%;
		*left: 24.969%
	}
	.pure-push-v1400-7-24 {
		left: 29.1667%;
		*left: 29.1357%
	}
	.pure-push-v1400-1-3,
	.pure-push-v1400-2-6,
	.pure-push-v1400-8-24 {
		left: 33.3333%;
		*left: 33.3023%
	}
	.pure-push-v1400-3-8,
	.pure-push-v1400-9-24 {
		left: 37.5%;
		*left: 37.469%
	}
	.pure-push-v1400-2-5 {
		left: 40%;
		*left: 39.969%
	}
	.pure-push-v1400-5-12,
	.pure-push-v1400-10-24 {
		left: 41.6667%;
		*left: 41.6357%
	}
	.pure-push-v1400-11-24 {
		left: 45.8333%;
		*left: 45.8023%
	}
	.pure-push-v1400-1-2,
	.pure-push-v1400-2-4,
	.pure-push-v1400-12-24 {
		left: 50%;
		*left: 49.969%
	}
	.pure-push-v1400-13-24 {
		left: 54.1667%;
		*left: 54.1357%
	}
	.pure-push-v1400-7-12,
	.pure-push-v1400-14-24 {
		left: 58.3333%;
		*left: 58.3023%
	}
	.pure-push-v1400-3-5 {
		left: 60%;
		*left: 59.969%
	}
	.pure-push-v1400-5-8,
	.pure-push-v1400-15-24 {
		left: 62.5%;
		*left: 62.469%
	}
	.pure-push-v1400-2-3,
	.pure-push-v1400-16-24 {
		left: 66.6667%;
		*left: 66.6357%
	}
	.pure-push-v1400-17-24 {
		left: 70.8333%;
		*left: 70.8023%
	}
	.pure-push-v1400-3-4,
	.pure-push-v1400-18-24 {
		left: 75%;
		*left: 74.969%
	}
	.pure-push-v1400-19-24 {
		left: 79.1667%;
		*left: 79.1357%
	}
	.pure-push-v1400-4-5 {
		left: 80%;
		*left: 79.969%
	}
	.pure-push-v1400-5-6,
	.pure-push-v1400-20-24 {
		left: 83.3333%;
		*left: 83.3023%
	}
	.pure-push-v1400-7-8,
	.pure-push-v1400-21-24 {
		left: 87.5%;
		*left: 87.469%
	}
	.pure-push-v1400-11-12,
	.pure-push-v1400-22-24 {
		left: 91.6667%;
		*left: 91.6357%
	}
	.pure-push-v1400-23-24 {
		left: 95.8333%;
		*left: 95.8023%
	}
	.pure-push-v1400-1,
	.pure-push-v1400-1-1,
	.pure-push-v1400-5-5,
	.pure-push-v1400-24-24 {
		left: 100%
	}
	.pure-pull-v1400-1-24 {
		right: 4.1667%;
		*right: 4.1357%
	}
	.pure-pull-v1400-1-12,
	.pure-pull-v1400-2-24 {
		right: 8.3333%;
		*right: 8.3023%
	}
	.pure-pull-v1400-1-8,
	.pure-pull-v1400-3-24 {
		right: 12.5%;
		*right: 12.469%
	}
	.pure-pull-v1400-1-6,
	.pure-pull-v1400-4-24 {
		right: 16.6667%;
		*right: 16.6357%
	}
	.pure-pull-v1400-1-5 {
		right: 20%;
		*right: 19.969%
	}
	.pure-pull-v1400-5-24 {
		right: 20.8333%;
		*right: 20.8023%
	}
	.pure-pull-v1400-1-4,
	.pure-pull-v1400-6-24 {
		right: 25%;
		*right: 24.969%
	}
	.pure-pull-v1400-7-24 {
		right: 29.1667%;
		*right: 29.1357%
	}
	.pure-pull-v1400-1-3,
	.pure-pull-v1400-8-24 {
		right: 33.3333%;
		*right: 33.3023%
	}
	.pure-pull-v1400-3-8,
	.pure-pull-v1400-9-24 {
		right: 37.5%;
		*right: 37.469%
	}
	.pure-pull-v1400-2-5 {
		right: 40%;
		*right: 39.969%
	}
	.pure-pull-v1400-5-12,
	.pure-pull-v1400-10-24 {
		right: 41.6667%;
		*right: 41.6357%
	}
	.pure-pull-v1400-11-24 {
		right: 45.8333%;
		*right: 45.8023%
	}
	.pure-pull-v1400-1-2,
	.pure-pull-v1400-12-24 {
		right: 50%;
		*right: 49.969%
	}
	.pure-pull-v1400-13-24 {
		right: 54.1667%;
		*right: 54.1357%
	}
	.pure-pull-v1400-7-12,
	.pure-pull-v1400-14-24 {
		right: 58.3333%;
		*right: 58.3023%
	}
	.pure-pull-v1400-3-5 {
		right: 60%;
		*right: 59.969%
	}
	.pure-pull-v1400-5-8,
	.pure-pull-v1400-15-24 {
		right: 62.5%;
		*right: 62.469%
	}
	.pure-pull-v1400-2-3,
	.pure-pull-v1400-16-24 {
		right: 66.6667%;
		*right: 66.6357%
	}
	.pure-pull-v1400-17-24 {
		right: 70.8333%;
		*right: 70.8023%
	}
	.pure-pull-v1400-3-4,
	.pure-pull-v1400-18-24 {
		right: 75%;
		*right: 74.969%
	}
	.pure-pull-v1400-19-24 {
		right: 79.1667%;
		*right: 79.1357%
	}
	.pure-pull-v1400-4-5 {
		right: 80%;
		*right: 79.969%
	}
	.pure-pull-v1400-5-6,
	.pure-pull-v1400-20-24 {
		right: 83.3333%;
		*right: 83.3023%
	}
	.pure-pull-v1400-7-8,
	.pure-pull-v1400-21-24 {
		right: 87.5%;
		*right: 87.469%
	}
	.pure-pull-v1400-11-12,
	.pure-pull-v1400-22-24 {
		right: 91.6667%;
		*right: 91.6357%
	}
	.pure-pull-v1400-23-24 {
		right: 95.8333%;
		*right: 95.8023%
	}
	.pure-pull-v1400-1,
	.pure-pull-v1400-1-1,
	.pure-pull-v1400-5-5,
	.pure-pull-v1400-24-24 {
		right: 100%
	}
}