.career-detail{	
    margin-top: 2em;
    margin-bottom: 2em;
    &__title{}
    &__date{
        font-size: .8em;
    }
    &__text{}
    &__perex{
        font-style: italic;
    }
    &__require{}
    &__title2{
        margin-top: 2em;
    }
    &__offer{}
    &__back{
        background: @c2;
        color: @c1;
        border: 1px solid @c2;
        display: inline-block;
        padding: .3em 1em .2em;
        .SlineHover(left,@c1, @c2);
    }
}
