.client-zone-form{
	max-width: 50rem;
	margin: @baseSpace auto;
	background: @c-bg-secondary;
	padding: 4rem;
	
	
	&__row{
		margin: 0 0 1.5rem;
		text-align: left;
		
		&:first-of-type{
			margin-top: 0;	
		}
		
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	
	&__text{
		margin: 0;
	}
	
	&__input{
		width: 100%;
	}
	
	&__label{
		display: inline-block;
	}
	
	&__submit{
		margin: 1rem auto 0;
		display: block;
		
		&:hover{
			background: @c-bg-primary;
		}
	}
	
	
}