.login{
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	background: @c-highlight;
	display: block;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	
	&:hover{
		text-decoration: none;
	}
	
	&__icon{
		width: 2rem;
		height: auto;
		display: inline-block;
		vertical-align: middle;
		
		&__path{
			fill: @c-bg-primary;
			stroke: @c-bg-primary;
		}
	}
	
	&__text{
		&:extend(.fs4);
		color: @c-link;
		display: none;
		vertical-align: middle;
		
		&:hover{
			text-decoration: none;
		}
	}
	
	@media(min-width: (800/16em)){
		width:auto;
		background: none;
		border-radius: 0;
		
		&__icon{
			width: 2.5rem;
			height: auto;
			margin-right: 0.5rem;
			display: inline-block;
			vertical-align: middle;
			&__path{
				fill: @c-highlight;
				stroke: none;
			}	
		}
		
		&__text{
			display: inline-block;
		}
	}
}