// Komponenta A5 - Anketa 1
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.1

.poll{
	&__item{
		padding: .7em 0;
	}
	
	&__question{
		display: block;
		font-weight: bold;
		font-size: 1.7rem;
		margin-bottom: .5em;
	}
	
	&__answer{
		color: @c2;
		&__link{
			color: @c2;
		}
	}
	
	&__answer-box{
		display: block;
		height: 10px;
		margin: 0 0 15px 0;
		border: 1px solid @c3;
	}
	
	&__graph {
		background-color: @c3;
		height: 100%;
	}
}

