/* `Theme & WordPress core classes
----------------------------------------------------------------------------------------------------*/

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.txt-upprcs {
    text-transform: uppercase;
}

.txt-lwrcs {
    text-transform: lowercase;
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
    margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
    margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
    margin-bottom: 1.2em;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
    
    &:focus {
        clip: auto !important;
        display: block;
        height: auto;
        left: 5px;
        top: 5px;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
}

.logged-in.admin-bar .g-header {
    top: 4.6rem;
    
    @media(min-width: 48.938em){
        top: 3.2rem;
    }
}

/* `Gallery
----------------------------------------------------------------------------------------------------*/

.gallery {
    
    &-item {
        margin: 0;
    }
}

/* `Comments
----------------------------------------------------------------------------------------------------*/

.commentlist {
    
    .avatar {
        border-radius: 50%;
    }
    
    .comment-reply-link {
        &:extend(.fs7);
	    border-radius: 1.5em;
        margin: 1.25em 0 0;
        min-width: auto;
        padding: .8em 1.5em;
    }
 }

.g-photos + .comments-area .comments-title { margin-top: 0 }

.comment-respond {
    
    .pure-form .pure-g {
        margin-left: -20px;
        margin-right: -20px;
    }
}

/* `Elementor
----------------------------------------------------------------------------------------------------*/

.elementor-btn {
    z-index: 1;
}

.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings.elementor-editor-button-settings {
    z-index: 19;
}

.elementor-align-center {
    text-align: center;
    
    .elementor-btn {
        text-align: center;
        width: auto;
    }
}

.elementor-align-right {
    text-align: right;
    
    .elementor-btn {
        margin-right: 0;
        text-align: center;
        width: auto;
    }
}

.elementor-align-left {
    text-align: left;
    
    .elementor-btn {
        margin-left: 0;
        text-align: center;
        width: auto;
    }
}

.elementor-align-justify .elementor-btn {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    width: 100%;
}

@media (max-width: 1024px) {
    .elementor-tablet-align-center {
        text-align: center; 
        
        .elementor-btn {
            width: auto;
        }
    }
    
    .elementor-tablet-align-right {
        text-align: right; 
        
        .elementor-btn {
            margin-right: 0;
            text-align: center;
            width: auto;
        }
    }
    
    .elementor-tablet-align-left {
        text-align: left; 
        
        .elementor-btn {
            margin-left: 0;
            text-align: center;
            width: auto;
        }
    }
 
    .elementor-tablet-align-justify .elementor-btn {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .elementor-mobile-align-center {
        text-align: center;
        
        .elementor-btn {
            width: auto;
        }
    }
    
    .elementor-mobile-align-right {
        text-align: right;
        
        .elementor-btn {
            margin-right: 0;
            text-align: center;
            width: auto;
        }
    }
    
    .elementor-mobile-align-left {
        text-align: left;
        
        .elementor-btn {
            margin-left: 0;
            text-align: center;
            width: auto;
        }
    }
    
    .elementor-mobile-align-justify .elementor-btn {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        width: 100%;
    }
}

.elementor-video-wrapper {
    position: relative;
    height: 0;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

body.elementor-editor-active #elementor-add-section-button {
    background-color: #8c735e;
}

#elementor .elementor-editor-element-settings-list > li:before,
#elementor-select-preset-list > li:before {
    display: none;
}

.elementor-column-wrap {
    position: relative;
}

.elementor-column-wrap .elementor-widget-wrap {
    position: relative;
    z-index: 1;
}

.elementor embed,
.elementor iframe:not(.elementor-background-video),
.elementor object,
.elementor video {
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
}

.elementor .elementor-custom-embed {
    line-height: 0;
}

.elementor .elementor-background-video-container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: -2 !important;
}

.elementor .elementor-background-video {
    position: absolute;
    max-width: none;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.elementor .elementor-html5-video {
    object-fit: cover;
}

.elementor .elementor-background-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1 !important;
}

.elementor .elementor-column-wrap .elementor-background-overlay {
    z-index: 0 !important;
}

.elementor .elementor-invisible {
    visibility: hidden;
}

@media (max-width: 767px) {
  body:not(.elementor-editor-active) .elementor-hidden-phone {
    display: none; } }

@media (min-width: 768px) and (max-width: 1024px) {
  body:not(.elementor-editor-active) .elementor-hidden-tablet {
    display: none; } }

@media (min-width: 1025px) {
  body:not(.elementor-editor-active) .elementor-hidden-desktop {
    display: none; } }

body:not(.elementor-editor-active) .elementor-hidden {
  display: none; }

.elementor-widget-heading .elementor-heading-title {
    
    a {
        .NeverUnderline();
        color: inherit;
    }
}

.elementor .person__image__wrap {
    box-sizing: content-box;
}

.elementor-widget-video.elementor-aspect-ratio-169 .elementor-video-wrapper {
    padding-bottom: 56.25%;
}

.elementor-widget-video.elementor-aspect-ratio-43 .elementor-video-wrapper {
    padding-bottom: 75%;
}

.elementor-widget-video.elementor-aspect-ratio-32 .elementor-video-wrapper {
    padding-bottom: 66.6666%
}

.elementor-widget-video .elementor-custom-embed {
    
    &-image-overlay {
        background-size: cover;
        background-position: 50%;
        cursor: pointer;
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
    
    &-play {
        .playIcon(@c-highlight, 6.8rem);
    }
}

.elementor .g-g4__icon img {
    height: 70%;
}

/* `Notices
----------------------------------------------------------------------------------------------------*/

.notice {
    background: @c-bg-secondary;
    border-bottom: .2rem solid red;
    margin-bottom: 3rem;
	padding: 0 0 3rem;
    
    &--success {
        border-bottom-color: green;
    }
    
    &__text {
        margin-bottom: 0;
        
        &:first-child {
            margin-top: 0;
        }
    }
    
    &--success &__text {
        text-align: center;   
    }
}

/* `Contact form 7
----------------------------------------------------------------------------------------------------*/

.wpcf7 {
    
    &-response-output {
        color: #fff;
        font-weight: 700;
        margin: -1.5em auto 1.5em;
        padding: 2em;
        text-align: center;
        max-width: (@maxWidthContent*0.75) + 3rem - 4rem;
    }
     
    &-mail-sent-ok {
        background: #77d44f;
    }

    &-mail-sent-ng,
    &-spam-blocked,
    &-validation-errors {
        background: @c-error;
    }
    
    &-display-none {
        display: none;
    }
    
    &-form-control-wrap {
        position: relative;
    }
    
    &-list {
        
        &-item {
            display: block;

            &-label {
                text-decoration: none;

                &::before,
                &::after {
                    content: " ";
                }
            }

            label {
                display: block;
            }
        }
        
        &-inline &-item {
            display: inline-block;
            margin: 0 1em 0 0;

            &.last {
                margin-right: 0;
            }
        }
    }
    
    &-form-control&-not-valid:extend(.form1 textarea.has-error) {
        border-color: @c-error !important;
    }
    
    &-not-valid-tip {
        &:extend(.text-danger, .form1 .text-danger);
    }
    
    &-recaptcha iframe {
        margin-bottom: 0;
    }
    
    &-ajax-loader {
        margin: 2rem auto;
        visibility: hidden;
        
        &.is-active {
            visibility: visible;
        }
    }
    
    input[type="file"] {
        cursor: pointer;
        
        &:disabled {
            cursor: default;
        }
    }
    
    .js & .screen-reader-response {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    .ajax-error {
        display: none;
    }
}

/* `Spinner loader
----------------------------------------------------------------------------------------------------*/

.spinner {
    margin: 1rem auto;
    text-align: center;
    width: 7rem;
    
    &__i {
        animation: spinner-bouncedelay 1.4s infinite ease-in-out both;
        background-color: @c-text-secondary;
        border-radius: 100%;
        display: inline-block;
        height: 1.4rem;
        margin: 0 .1rem;
        width: .7rem;
        
        &--1 {
            animation-delay: -0.32s;
        }
        
        &--2 {
            animation-delay: -0.16s;
        }
    }
  
}

@keyframes spinner-bouncedelay {
    0%, 80%, 100% {
        transform: scale(0);
    } 40% { 
        transform: scale(1.0);
    }
}