//Pulse
@keyframes pulse { 
	from  {
	  margin-top: 0px;
	}
	to {
	  margin-top: 0.5rem;
	}
}

//Fade from display none opacity 0
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: inline-block;
        opacity: 0;
    }

    100% {
        display: inline-block;
        opacity: 1;
    }
}

@keyframes fadeInToNone {
    0% {
        display: inline-block;
        opacity: 1;
    }
	
    99% {
        display: inline-block;
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

//Bounce
@keyframes bounce {
  0%, 80%, 100% {
  	 transform: scale(0);
  } 40% {
  	transform: scale(1);
  }
}

@keyframes bounce2 {
  0%,{
  	 transform: scale(0);
  } 100% {
  	transform: scale(1);
  } 70% {
  	transform: scale(1.1);
  }
}