// využívá javascript!!
.noScroll{ 
	overflow: hidden;
}

// clerování
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

// responsovní obrázky
img{
    max-width: 100%;
    height: auto;
	&.no-rs{
		// vypnutí responzivních obrázků
		height: auto;
    	max-width: none;
	}
}

// nastavení box modelu pro všechny elementy
*{
	outline: none;
	box-sizing: border-box;
}

// obecná třída pro skrytí elementu
.hidden{
	display: none;
}

// základní content
.content{
	margin: auto;
}

/* Zprávy AITOMu */
.aitomFlashes {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	font-size:14px;
	background: #fff;
	background:rgba(255,255,255,0.9);
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	transition: background 400ms;
	&:hover {
		background: #fff;
	}

	.pageBlock {
		padding: 15px 0;
	}
	.btnClose {
		position: absolute;
		bottom: -24px;
		right: 10px;
		height: 24px;
		line-height: 22px;
		text-align: center;
		vertical-align: middle;
		font-size: 13px;
		padding: 0 1em;
		color: #777;
		text-decoration: none;
		background: #fff;
		background:rgba(255,255,255,0.9);
		box-shadow: 0 2px 3px rgba(0,0,0,0.15);
		border-radius: 0 0 5px 5px;
		text-shadow: 0 1px 0 #fff;

		&:hover {
			color: #b00;
		}
	}
}
.comFlashes,
form > ul.error {
	list-style: none;
	margin-bottom: 1.4em;
}

//flash  mixin
.aitomFlash() {
	color: #222;
	background: #ddd;
	margin-bottom: 5px;
	padding: 0.8em 1.8em 0.9em;
	border-radius: 2px;
	margin-bottom: 2px;
}
// flash items
.aitomFlashes,
.comFlashes {
	.flash {
		.aitomFlash();

		&.success {
			color: #fff;
			background: #5fa818;
		}
		&.warning {
			color: #fff;
			background: #e99a00;
		}
		&.error {
			color: #fff;
			background: #b61010;
		}
	}
}
form > ul.error > li {
	.aitomFlash();
	color: #fff;
	background: #b61010;
}