/* -----------------------------------------------------------------------------------------
	Autor:          AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
	Aktualizováno:  18.08.2015
	Verze souboru:  0.2
	Naposledy upravil: David Kácha

	Základní styly šablony.
-------------------------------------------------------------------------------------------- */
html{
	font-size: 62.5%;
	
	&.wf-active{
		&:extend(.ff1);	
	}
}
body {
	&:extend(.fs1);
    background: @c-bg-primary;
	color: @c-text-primary;	
	line-height: 1.21;
}

a {
	.HoverUnderline();
	color: @c-highlight;
}

p {
	margin: 0.7em 0;
	line-height: 1.5;
	color: @c-text-secondary;
	
	&:first-of-type{
		margin-top: 0;
	}
	&:last-of-type{
		margin-bottom: 0;
	}
}

h1{
	.calcSize(font-size, 4.5rem, 6.2rem);
	font-weight: 700;
	color: @c1;
}
h2{
	.calcSize(font-size, 3.5rem, 4.6rem);
	font-weight: 700;
	margin: 0.6em 0 0.2em 0;
}
h3{
	.calcSize(font-size, 2.2rem, 2.4rem);
	font-weight: 700;
	margin: 1em 0 0.5em 0;
}
h4{}

img{
	max-width: 100%;
	height: auto;
}

table{
	margin: 1em 0;
	th,td{
		padding: 1em;
	}
	th{
		background: @c-highlight;
		color: @c-bg-primary;
		border-right: 0.1rem solid @c-bg-primary;
		
		&:last-child{
			border-right: 0.1rem solid @c-highlight;
		}
	}
	
	tr{
		td{
			background: @c-bg-primary;
			color: @c-text-secondary;
			border-right: 0.1rem solid @c-bg-secondary;
			&:first-child{
				border-left: 0.1rem solid @c-bg-secondary;
			}
			
			&:last-child{
				border-right: 0.1rem solid @c-bg-secondary;
			}
		}
		
		&:nth-of-type(even){
			td{
				background: @c-bg-secondary;
				border-right: 0.1rem solid @c-bg-primary;	
			}
		}
		
		&:last-child{
			td{
				border-bottom: 0.1rem solid @c-bg-secondary;
			}
		}
	}
		
}


.main ul{
	padding: 0;
	padding-left: 1em;
	list-style-type: none;
	margin: 0.7em 0;
	color: @c-text-secondary;	
	
	li{
		margin: 1em 0;
		padding-left: 2em;
		&:before{
			content: "•";
			display: block;
			font-size: 3rem;
			float: left;
			margin-left: -1em;
			line-height: 0.6;
			color: @c-highlight;
		}
	}
}

.main ol{
	padding: 0;
	padding-left: 1em;
	list-style-type: none;
	margin: 0.7em 0;
	color: @c-text-secondary;
	
	li{
		margin: 1em 0;
		counter-increment: list;
		position: relative;
		padding: 0.75em 0 0.75em 3em;
		min-height: 2.5em;
		line-height: 1.3;
		&:before{
			font-size: 1.2em;
			content: counter(list);
			display: block;
			float: left;
			background: transparent;
			color: @c-highlight;
			text-align: center;
			width: 2em;
			height: 2em;
			line-height: 2em;
			vertical-align: middle;
			box-sizing: border-box;
			margin-top: -0.5em;
			margin-left: -3em;
			border: .1rem solid darken(@c-bg-primary, 10);
			border-radius: 50%;
			font-weight: 700;
		}		
	}
}

input{
	padding: 0.75em 1em;
}

textarea{
	resize: vertical;
	max-height: 40rem;
}

.content{
	max-width: @maxWidthContent + 3rem;
	padding: 0 1.5rem;
	width: 100%;
	
	&--small{
		max-width: (@maxWidthContent*0.7) + 3rem;
		min-width: @minWidthContent;
		padding: 0 1.5rem;
		width: 100%;	
	}
	
	&--smaller{
		max-width: 76rem + 3rem;
		min-width: @minWidthContent;
		padding: 0 1.5rem;
		width: 100%;	
	}
	
	&--bigtext{
		&:extend(.fs5);
	}
}


.main{
	min-width: @minWidthContent;
	margin-top: 13rem; 
	&__title{
		margin: 4rem 0 0 0;
	}
	
	@media(min-width: (800/16em)){
		margin-top: 8rem;
	}
	
	@media(min-width: @breakpointHeader){
		margin-top:  13.5rem;	
	}
}

.wysiwyg{
	h1{
		color: @c-text-primary;	
	}
	
	
	p{
		&:first-of-type{
			margin-top: 0.7em; 
		}
		
		&:last-of-type{
			margin-bottom: 0.7em; 
		}
	}
}

.text-danger {
	display: block;
	color: @c-error;
	padding: 0.5rem 0;
}

//vypnutý js
.no-js{
	img.lazyload {
        display: none;
    }	
}

.fullBgLazy{
	background-position: center top;
    height: 100%;
    left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	
	&--cover{
		background-size: cover;
	}
    
    &--center {
        background-position: center center;
    }
    
    &--fixed {
        background-position: center center;
		background-attachment: fixed;
    }
}

.lazyloadFadeIn{
	transition: opacity .3s;
	opacity: 0;
    
	&.lazyloaded{
		opacity: 1;
	}
}

img.lazyload{
    opacity: 0;
}

img.lazyloaded{
    transition: opacity .4s;
    opacity: 1;
}