/* -----------------------------------------------------------------------------------------
	Autor:          AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
	Aktualizováno:  13.11.2015
	Verze souboru:  0.1
	Naposledy upravil: David Kácha

	Načítání fontů a definice mixninů a class pro jejich pozdější využití.
-------------------------------------------------------------------------------------------- */


///////////////////////////////////////
/////////// typ písma ////////////////
.ff1{
	font-family: 'Raleway', arial, sans-serif;
}



///////////////////////////////////////
/////////// velikosti písma //////////
.fs1{
	font-size: 1.5rem;
}

.fs2{
	.calcSize(font-size, 1.5rem, 1.9rem);	
}

.fs3{
	.calcSize(font-size, 1.3rem, 1.5rem);	
}

.fs4{
	font-size: 1.6rem;
}

.fs5{
	font-size: 1.9rem;
}

.fs6{
	font-size: 1.4rem;
}

.fs7{
	font-size: 1.2rem;
}

.fs8{
	font-size: 1.3rem;
}

.fs9{
	font-size: 1.8rem;
}
