/* -----------------------------------------------------------------------------------------
 Autor:          AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
 Aktualizováno:  18.08.2015
 Verze souboru:  0.9
 Naposledy upravil: David Kácha
 
 Funkce použitelné jako mixiny, většinou usnadňující zápis dlouhých skupin vlastností.
 -------------------------------------------------------------------------------------------- */




// nelze označit obsah
.CantSelect(@none: none) {
    -webkit-touch-callout: @none;
    -webkit-user-select: @none;
    -khtml-user-select: @none;
    -moz-user-select: @none;
    -ms-user-select: @none;
    -o-user-select: @none;
}

// skryje text v elementu (použijte pokud chcete text nahradit obrázkem)
.HideText() {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

// opačné podtržení u hoveru (zmizí podrtžení při hoveru, jinak je s podtržení).
.HoverNoUnderline() {
    text-decoration: underline;
    &:hover {
		text-decoration: none;
	}
}

// opačné podtržení u hoveru (podtrhne se až při hover, jinak je bez podtržení).
.HoverUnderline() {
    text-decoration: none;
    &:hover {
		text-decoration: underline;
	}
}

// nepodtržený odkaz ani hover
.NeverUnderline() {
    text-decoration: none;
    &:hover {
		text-decoration: none;
	}
}

// pseudotřída placeholder
.Placeholder(@rules) {
    &:-webkit-input-placeholder {
        @rules();
    }
	&::-webkit-input-placeholder {
        @rules();
    }
    &:-moz-placeholder {
        @rules();
		opacity: 1;
    }
	&::-moz-placeholder {
        @rules();
		opacity: 1;
    }
    &:-ms-input-placeholder {
        @rules();
    }
}


// efekt tlačítka, po najetí přijede jiná barva
// @type: top,right, bottom,left - odkud přijede
// @backgroundnová: nová barva pozadí
// @color: nová barva textu
// @time: rychlost změny
.SlineHover(@type, @background, @color, @time:.3s) {
    overflow: hidden;
    position: relative;
    z-index: 10;

    
        transition: @time;

        &:before {
			transition: @time;
            background: @background;
            content: '';
            position: absolute;
            z-index: -1;

            & when (@type = top) {
                height: 0;
                left: 0;
                top: 0;
                width: 100%;
            }

            & when (@type = bottom) {
                bottom: 0;
                height: 0;
                left: 0;
                width: 100%;
            }

            & when (@type = left) {
                height: 100%;
                left: 0;
                top: 0;
                width: 0;
            }

            & when (@type = right) {
                height: 100%;
                right: 0;
                top: 0;
                width: 0;
            }
        }

        &:hover {
            color: @color;
            text-decoration: none;

            &:before {
                & when (@type = top) { height: 100%; }

                & when (@type = bottom) { height: 100%; }

                & when (@type = left) { width: 100%; }

                & when (@type = right) { width: 100%; }
            }
        }
    
}

// zkrátí přesahující text na řádce a nahradí ho tečkami
.TruncateText() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


// responzivní velikost podle šířky okna
.calcSize(@property, @min, @max, @start: @startCalcSize, @end: @endCalcSize) {
	@{property}: @min;
	
	@unit: get-unit(@min);
	& when (@unit = px) {
		@multiplier: unit(@max - @min) / unit(@end - @start) * 100;
		@adder: (unit(@min) * unit(@end) - unit(@max) * unit(@start)) / unit(@end - @start);
		@formula:  (@multiplier * 1vw) ~'+'  (@adder * 1px);
		@media (min-width: @start) {
			@{property}: -webkit-calc(@formula);
			@{property}: calc(@formula);
		}
	}
	& when (@unit = rem) {
		@multiplier: (unit(@max - @min)*10) / (unit(@end - @start) * 16) * 100;
		@adder: ((unit(@min) * 10 * unit(@end) * 16)  - (unit(@max) * 10 * unit(@start)* 16))/ (unit(@end - @start)*16);
		@formula:  (@multiplier * 1vw) ~'+'  (@adder * 0.1rem);
		@media (min-width: @start) {
			@{property}: -webkit-calc(@formula);
			@{property}: calc(@formula);
		}	
	}
	
	@media (min-width: @end) {
		@{property}: @max;
	} 
	
}

// mixin pro generování animace
.animation(@name, @duration, @delay: 0, @count: infinite, @direction: alternate){
	animation-name: @name;
	animation-duration: @duration;
	animation-delay: @delay;
	animation-iteration-count: @count;
	animation-direction: @direction;
}

// mixin pro generování ikony přehrátí
.playIcon(@color, @width){
    background: fadeout(@color, 20);
    width: @width;
    height: @width;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -( @width / 2 );
    margin-left: -( @width / 2 );
    opacity: 1;
    transition: opacity .2s linear;

    &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -( @width / 100 * 7.35 );
        margin-top: -( @width / 100 * 13.235 );
        border-left: ( @width / 100 * 14.705 ) solid @c-bg-primary;
        border-top: ( @width / 100 * 13.235 ) solid transparent;
        border-bottom: ( @width / 100 * 13.235 ) solid transparent;
    }
}