.them-notice{
	font-family: Arial, sans-serif;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	text-align: center;
	background: black;
	background: fade(black,70);
	color: #333;
	
	#them-notice-status:not(:checked) + &{
		display: none;
	}
	
	a{
		color: #333;
		text-decoration: underline;
		&:hover{
			color: black;
		}
	}
	&__box{
		background: white;
		width: 95%;
		max-width: 520px;
		margin: 0 auto;
		position: relative;
	}
	&__title{
		padding: 45px 55px 20px;
		display: block;
		font-style: oblique;
		font-size: 29px;
		line-height: 1.4;
		@media (max-width: 400px){
			font-size: 20px;
			padding: 20px;
		}
	}
	&__desc{
		margin: 0;
		font-size: 15px;
		line-height: 1.56;
		padding: 0 33px 40px;
	}
	&__close{
		width: 40px;
		height: 40px;
		position: absolute;
		right: 0;
		top: 0;
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAElBMVEUAAAD///////////////////8+Uq06AAAABXRSTlMAFdTYasuq+6EAAABDSURBVAjXY2ARYAACRgcGV0UQQyiEQShIACigqgjGIB6YAHHAwkA2WGGwKVAAJGQaLIBgwKUQiuHa4QbCrYBbCncGAASMCsP9kzWnAAAAAElFTkSuQmCC');
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #252525;
		font-size: 0;
		color: transparent;
		cursor: pointer;
	}
}

