/* -----------------------------------------------------------------------------------------
	Autor:          AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
	Aktualizováno:  13.11.2015
	Verze souboru:  0.2
	Naposledy upravil: David Kácha

	Všechny proměnné jsou v tomto souboru.
	Barvy se pojmenovávají stylem @c1 2 3 4 atd...
-------------------------------------------------------------------------------------------- */

@breakpointHeader: 70em; // hlavní přeskládání hlavičky 
@breakpointFooter: 70em; // hlavní přeskládání patičky

@maxWidthContent: 120rem; // maximální šířka kontejneru webu
@minWidthContent: 30rem; // minimální šířka kontejneru webu

@startCalcSize: (300/16em); //začátek počítací funkce
@endCalcSize: (1200/16em); //konec počítací funkce


@openNavigation: ~'#menu-status:checked + .menu-is-open';
@openSearch: ~'#search-status:checked + .search-is-open';

@baseSpace: 4rem;

//Main colors in web
@c-bg-primary: #ffffff;
@c-bg-secondary: #f4f4f4;
@c-bg-tertiary: #23404a;
@c-text-primary: #23404a;
@c-text-secondary: #728991;
@c-text-tertiary: fadeout(#ffffff, 80%);
@c-highlight: #2ec5f4;
@c-link: #4f6570;
@c-error: #FF0000;

//Colors specific to current template
@c1: @c-bg-primary; //fallback
@c2: @c-text-primary; //fallback
@c3: @c-bg-secondary; //fallback