// Komponenta Vertikální zarovnání
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.1

.vertical-align{	
	display: table;
	width: 100%;
	height: 100%;
	
	&__cell{
		display: table-cell;
		vertical-align: middle;
	}
	
}