.actu-detail1{
    margin-top: 2em;
    margin-bottom: 2em;
    
    &__date{
        font-size: 1.4rem;
    }
    &__img{
        display: block;
    }
    
    &__text{
        margin: 0  0 2em;
    }
    
    &__perex{
        font-style: italic;
    }
    
    &__section-title{
        margin: 2em 0 .2em 0; 
    }
    
    
    @media (max-width: ((600-0.001)/16em)){
    
        &__img{
            text-align: center
        }
    }

    @media (min-width: (600/16em)){

        &__img{
            float: right;
            margin: 0 0 .3em 1em;
        }
    }
}