.actu-list1{   
    margin-top: 2em;
    margin-bottom: 2em;
    
    &__i{
        padding: 1em 0;
    }
    
    &__imgWrap{ }
    
    &__img{
        margin: 0 1.5em .5em 0;   
        display: block;
    }
    
    
    &__title{
        display: block;
        font-weight: bold;
        font-size: 2rem;
        color: @c2;
    }
    &__date{
        display: block;
        padding: .4em 0 0;
        font-size: 1.4rem;
    }
    &__desc{
        margin-top: .7em;
        p{
            &:first-of-type{
                margin-top: 0;
            }
            &:last-of-type{
                margin-bottom: 0;
            }
        }
        margin-bottom: .5em;
    }
    
    @media (max-width: ((600-0.001)/16em)){
    
        &__img{
            width: 100%;
        }
    }
    
    @media (min-width: (600/16em)){
    
        &__imgWrap{
            float: left;
        }
    }
    
}