@placeholder-arrrow-size: 5.6rem;


.placeholder{
	min-height: 100vh;
	width: 100%;
	position: relative;
	margin-top: -13rem; 
	text-align: center;
	
	&--left{
		text-align: left;		
	}
	
	&--right{
		text-align: right;		
	}
	
	&--left &{
		&__title{
	 		text-align: left;	
		}	
		
		&__btns{
			text-align: left;
			max-width: 80rem;
			margin: 0 -0.5em;
		}
	}
	
	&--right &{
		&__title{
	 		text-align: right;		
		}	
		
		
		&__btns{
			text-align: right;
			max-width: 80rem;
			margin: 0 -0.5em;
		}
	}
	
	&__fix{
		//position: fixed; 
		position: relative;
		display: table;
		height: 100vh;
		width: 100%;
		background-image: url("../../images/bg/placeholder-400w.jpg");
		background-size: cover;
		background-position: center center;
		
		
		&:before{
			content: "";
			background-repeat: repeat-x;
			background-size: auto 100%;
			background-image: url('../../images/gradients/gradient-placeholder-small.png');
			background-image: linear-gradient(to bottom, fade(darken(@c-highlight, 30), 80) 0%, rgba(255,255,255,0) 80%);
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
		}
	}
	
    &__bg {
        z-index: 0
    }
	
	&__wrap{
		position: relative;
		width: 100%;
		height: 100vh;
		padding-top: 13rem;
		padding-bottom: @placeholder-arrrow-size*1.7;
		.calcSize(padding-left, 2rem, 9rem);
		.calcSize(padding-right, 2rem, 9rem);
		display: table;
	}
	
	
	
	&__middle{
		display: table-cell;
		vertical-align: middle;
		height: 100%;
		position: relative;
		z-index: 2;
	}
	
	&__title{
		max-width: 80rem;
		display: inline-block;
		text-align: center;
		
		h1{
			.calcSize(font-size, 4rem, 8rem, 400/16em, 1920/16em);
		}
	}
	
	&__divider{
		display: block;
	}
	
	&__btns{
		text-align: center;
		max-width: 80rem;
		margin: 0 auto;
		display: inline-block;
	}
	
	
	&__arrow{
		width: @placeholder-arrrow-size;
		height: @placeholder-arrrow-size;
		position: absolute;
		bottom: @placeholder-arrrow-size/2;
		left: 50%;
		margin-left: -(@placeholder-arrrow-size/2);
		border-radius: 50%;
		background: @c-bg-primary;
		z-index: 2;
		transition: all 0.2s linear;
		.HideText;
		
		
		
		&:hover{
			width: @placeholder-arrrow-size*1.1;
			height: @placeholder-arrrow-size*1.1;
			margin-left: -(@placeholder-arrrow-size*1.1)/2;
			bottom: (@placeholder-arrrow-size/2) - (((@placeholder-arrrow-size/2)*1.1) - (@placeholder-arrrow-size/2));
			
			&:after, &:before{
				.animation("pulse", .4s);
			}
		}
		
		
		&:after, &:before{
			content: "";
			width: @placeholder-arrrow-size/4;
			height: .3rem;
			position: absolute;
			top: 50%;
			background: @c-highlight;
		}
		
		&:before{
			transform: rotate(-45deg);
			left: 50%;
			margin-left: -.3rem;
		}
		
		&:after{
			transform: rotate(45deg);
			right: 50%;
			margin-right: -.3rem;
		}
	}
	
	
	@media(min-width: (800/16em)){
		margin-top: -8.5rem;
		&__wrap{
		padding-top: 8.5rem;
		}
	}
	
	@media(min-width: @breakpointHeader){
		margin-top:  -13.5rem;
		
		&--left &{
			&__fix{
				&:before{
					background-repeat: repeat-y;
					background-size: 100% auto;
					background-image: url('../../images/gradients/gradient-placeholder.png');
					background-image: linear-gradient(to right, fade(darken(@c-highlight, 30), 80) 0%, rgba(255,255,255,0) 60%);
				}	
			}	
		}
		
		&--right &{
			&__fix{
				&:before{
					background-repeat: repeat-y;
					background-size: 100% auto;
					background-image: url('../../images/gradients/gradient-placeholder.png');
					background-image: linear-gradient(to left, fade(darken(@c-highlight, 30), 80) 0%, rgba(255,255,255,0) 60%);
				}	
			}	
		}
		
		&__fix{
			&:before{
				background-repeat: repeat-x;
				background-size: auto 100%;
				background-image: url('../../images/gradients/gradient-placeholder-small.png');
				background-image: linear-gradient(to bottom, fade(darken(@c-highlight, 30), 80) 0%, rgba(255,255,255,0) 80%);		
			}
		}
		&__wrap{
			
			padding-top:  13.5rem;	
		}
	}
	
	@media(min-width: (400/16em)){
		&__fix{
			background-image: url("../../images/bg/placeholder-600w.jpg");
		}
	}
	
	@media(min-width: (600/16em)){
		&__fix{
			background-image: url("../../images/bg/placeholder-800w.jpg");
		}
	}
	
	@media(min-width: (800/16em)){
		&__fix{
			background-image: url("../../images/bg/placeholder-1200w.jpg");
		}
	}
	
	
	@media(min-width: (1200/16em)){
		&__fix{
			background-image: url("../../images/bg/placeholder-1600w.jpg");
		}
	}
	
	
	@media(min-width: (1600/16em)){
		&__fix{
			background-image: url("../../images/bg/placeholder.jpg");
		}
	}
}