.section{
	background: @c-bg-primary;
	.calcSize(padding-top, 5rem, 8rem);
	.calcSize(padding-bottom, 5rem, 8rem);
	position: relative;
	overflow-x: hidden;
	z-index: 2;
	
	//Modifikátory pozadí
	&--secondary{
		background: @c-bg-secondary;	
	}
	
	&--blue{
		background: @c-text-primary;
	}
	
	&--image{
		background-image: url("../../images/bg/countup.jpg");
		background-color: @c-text-primary;
		background-size: cover;
		&:before{
			content: "";
			background: fade(@c-text-primary, 90);
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	
	//Modifikátory paddingu
	&--padding-tight{
		.calcSize(padding-top, 2rem, 3rem);
		.calcSize(padding-bottom, 2rem, 3rem);
	}
	
	&--padding-middle{
		.calcSize(padding-top, 4rem, 5rem);
		.calcSize(padding-bottom, 4rem, 5rem);
	}
}