/* `Style meta boxes
----------------------------------------------------------------------------------------------------*/

#gallery .inside { padding-bottom: 0 }

.ot-side-desc-top-wrap .format-setting .description,
.ot-side-desc-top-wrap .format-setting .format-setting-inner {
    float: none;
    width: 100% }

.ot-select-chosen-multiple-wrap .format-setting { overflow: visible }

    .ot-select-chosen-multiple-wrap .format-setting .chosen-container { margin-bottom: 10px }

/* `Style attachment meta boxes
----------------------------------------------------------------------------------------------------*/

/* Hide required info */
.edit-attachment-frame .attachment-compat .media-types.media-types-required-info,
.media-frame .attachments-browser .compat-item .media-types.media-types-required-info,
.post-type-attachment .metabox-holder .media-types.media-types-required-info,
.wp-customizer .media-frame-content .compat-attachment-fields,
.attachment-details .gallery-settings .setting.size,
.attachment-details .gallery-settings .setting.columns,
.media-sidebar .gallery-settings .setting.size,
.media-sidebar .gallery-settings .setting.columns,
.compat-item .compat-field-video-url { display: none }

#ot-gallery-frame .compat-item .compat-field-video-url,
.edit-attachment-frame .compat-item .compat-field-video-url,
.gallery-settings + .attachment-details + .compat-item .compat-field-video-url,
.post-type-attachment .metabox-holder .compat-field-video-url { display: block }

/*.media-frame .attachments-browser .compat-item .media-types.media-types-required-info {
    padding-left: 88px;
    text-align: left }

.edit-attachment-frame .attachment-compat .media-types.media-types-required-info {
    padding-left: 35%;
    text-align: left }*/

.post-type-attachment .metabox-holder .compat-attachment-fields { width: 100% }

    .post-type-attachment .metabox-holder .compat-attachment-fields th,
    .post-type-attachment .metabox-holder .compat-attachment-fields td { vertical-align: top }

    .post-type-attachment .metabox-holder .compat-attachment-fields input:not([type='checkbox']):not([type='radio']),
    .post-type-attachment .metabox-holder .compat-attachment-fields textarea { width: 100% }

/* `Style widget inputs
----------------------------------------------------------------------------------------------------*/

.format-setting-inner .option-tree-ui-input.ot-select-dynamic-link {
    border-right-width: 0;
    margin: 0;
    padding-right: 35px;
    width: 100%;

        -webkit-border-top-right-radius: 0;
        -moz-border-top-right-radius: 0;
        border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0 }

    .format-setting-inner .option-tree-ui-input.ot-select-dynamic-link:focus {
        border-color: #999;
        outline: none;

            -moz-box-shadow: none;
            box-shadow: none }

.format-setting-inner .option-tree-ui-search-button {
    background: #f7f7f7;
    border: 1px solid #ddd;

    color: #727272;
    cursor: pointer;
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 30px;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -moz-box-shadow: inset 0 1px 0 #fff;
        box-shadow: inset 0 1px 0 #fff;
        -webkit-border-top-right-radius: 3px;
        -moz-border-top-right-radius: 3px;
        border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px }

    .format-setting-inner .option-tree-ui-search-button {
        border-color: #ccc;
        font-size: 15px;
        height: 29px }

    .format-setting-inner .option-tree-ui-search-button:hover,
    .format-setting-inner .option-tree-ui-search-button:focus,
    .format-setting-inner .option-tree-ui-search-button:active,
    .format-setting-inner .option-tree-ui-input:focus + .option-tree-ui-search-button {
        border-color: #999;
        outline: none;

            -moz-box-shadow: none;
            box-shadow: none }

/* `Link Suggest modal
----------------------------------------------------------------------------------------------------*/

.link-suggest-modal-inside.find-box-inside { bottom: 0 }

.link-suggest-modal-response { position: relative }

    .link-suggest-modal-response table { margin-bottom: 16px }

        .link-suggest-modal-response table tr:nth-child(odd) td { background: #f9f9f9 }

        .link-suggest-modal-response table tr:hover td {
            cursor: pointer;
            background: #f3f3f3 }

.link-suggest-modal-search input { float: left }

.link-suggest-modal-search-field {
	height: 28px;
	margin: 0 4px 0 0;
	width: 140px }

.link-suggest-modal-close {
	color: #666;
	cursor: pointer;
	height: 36px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	width: 36px }

    .link-suggest-modal-close:hover { color: #2ea2cc }

    .link-suggest-modal-close:before {
        content: '\f158';
        font: normal 20px/36px 'dashicons';
        speak: none;
        vertical-align: top;

            -webkit-font-smoothing: antialiased;
           -moz-osx-font-smoothing: grayscale }
