.submenu{
	padding: @baseSpace 0 @baseSpace 0;
	z-index: 4;
	position: relative;
	margin-bottom: -8rem;
	
	
	&__list{
		list-style-type: none;
		padding: 0;
		margin: 0;
		text-align: center;
		
	}
	
	&__i{
		display: inline-block;
		margin: 0.5em;
		padding: 0;
		
		&__link{
			border: 0.2rem solid @c-highlight;
			color: @c-text-primary;
			border-radius: 2em;
			background: transparent;
			padding: 1.2em 1em;
			min-width: 15rem;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;
			cursor: pointer;
			display: block;
			
			.SlineHover(bottom, @c-highlight, @c-bg-primary);

			&:hover{
				text-decoration: none;
			}
			
			&--active{ 
				background: @c-highlight;
				color: @c-bg-primary;
			}
			
		}
		&:before{
			display: none !important;
		}
	}
}