/* Module Sitemap */
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze šablony: 0.3

.sitemap{	
	margin-top: 1em;
	margin-bottom: 1em;
	
	&__list {
		padding-left: 0;
		margin: 0 0 0 1.2em;
	}
	&__i{
		margin: 0.3em 0;
	}
	&__link{
		
	}

}