// Komponenta A5 Formulář 1 a 2
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.1

.form1{	
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding-top: 0;
	padding-bottom: 0;
	
	&__item{
		padding: 0.7em 20px;
	}
	&__label{
		display: block;
		padding: .2em 0;
		margin-bottom: 0.3em;
		font-weight: bold;
		color: @c-text-secondary;
	}
	&__required{
		font-weight: bold;
		color: @c-highlight;
		font-size: 1.2em;
		line-height: 1rem;
	}
	&__desc{
		display: block;
		font-size: .8em;
		margin-top: .2em;
	}
	& input[type="text"],
	& input[type="password"],
	& input[type="email"],
	& input[type="url"],
	& input[type="date"],
	& input[type="month"],
	& input[type="time"],
	& input[type="datetime"],
	& input[type="datetime-local"],
	& input[type="week"],
	& input[type="number"],
	& input[type="search"],
	& input[type="tel"],
	& input[type="color"],
	& select,
	& textarea {
		padding: 0.75em 0.6em;
		display: inline-block;
		border: 0.2rem solid darken(@c-bg-primary, 15);
		border-radius: 3px;
		vertical-align: middle;
		box-sizing: border-box;
		transition: border 0.2s;
		height: 3em;
		
		&.has-error{
			border: 0.2rem solid @c-error;	
		}
	}
	
	& select{
		-webkit-appearance: none;
		//line-height: 2.6em;
	}
	
	
	
	& textarea {
		height: 20rem;
	}
	
	input[type="radio"], input[type="checkbox"]{
		margin-right: .3em;
	}
	
	&__input{
		width: 100%;
		.Placeholder({
			//color: red;
		});
	}
	
	&__btn{
		display: block;
		background: @c-highlight;
		color: @c-bg-primary;
		border: .3rem solid @c-highlight;	
		padding: 1em 1.75em;
		border-radius: 1.75em;
		box-sizing: border-box;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0.5em;
		letter-spacing: .1rem;
		min-width: 20rem;
		margin: auto;
		
		
		.SlineHover(bottom, @c-bg-primary, @c1);
		
		&:hover{
			color: @c-highlight;	
		}
	}
	
	&__area{
		width: 100%;
		min-height: 20rem;
		.Placeholder({
			//color: #0000FF;
		});
	}
	
	&__select{
		width: 100%;
	}
	
	&__checkboxWrap{
		label{
            .CantSelect();
            cursor: pointer;
			font-weight: bold;
		}
	}
	
	&__radioWrap{
		label{
            .CantSelect();
            cursor: pointer;
			display: block;
		}
	}
	
	&__message{
		text-align: center;
		font-weight: 700;
		display: block;
		margin-bottom: 1rem;
		color: @c-text-secondary;
	}
	
	
	.text-danger{
		color: @c-error;
	}
	
	&--small{
		max-width: (@maxWidthContent*0.75) + 3rem;
		margin-left: auto;
		margin-right: auto;
	}
}