// Komponenta btn (button) 
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.1

.g-btn{
	display: inline-block;
	background: @c1;
	color: @c2;
	padding: 1em 1.75em;
	border-radius: 1.75em;
	box-sizing: border-box;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0.5em;
	border: .3rem solid @c1;
	color: @c-highlight;
	letter-spacing: .1rem;
	min-width: 20rem;
	.SlineHover(bottom, @c-highlight, @c1);
	&:hover{
		border: .3rem solid @c-highlight;	
	}

	&--block{
		display: block;
	}
	
	&--border{
		background: transparent;
		border: .3rem solid @c-highlight;
		color: @c1;				
	}
	
	&--highlight{
		background: @c-highlight;
		color: @c-bg-primary;
		border: .3rem solid @c-highlight;	
		
		.SlineHover(bottom, @c-bg-primary, @c1);
		
		&:hover{
			color: @c-highlight;	
		}
	}
	
	&--text-dark{
		color: @c-text-primary;				
	}
	
}