.g-detail1 {
	&__title {
		color: @c-text-primary;
		margin-top: 0;
		text-align: center;
	}
	&__image {
		width: 100%;
		height: auto;
		margin-bottom: 2rem;
		opacity: 0;
		transition: opacity .2s;
		
		&.lazyloaded{
			opacity: 1;
		}
	}
	&__video{
		width: 100%;
		height: 0;
		padding-bottom: 66.6%;
		margin-bottom: 2rem;
		position: relative;
		
		&__iframe{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__perex {
		font-style: italic;
		color: @c-text-secondary;
		font-size: 1.8rem;
		margin-bottom: 3rem;
		text-align: center;
	}
	&__date,
    &__meta{
		text-align: center;
		margin-top: -1rem;
		margin-bottom: 2rem;
		height: 2em;
	}
	&__photos {
		width: 100%;
		height: auto;
	}
	@media(min-width: (1000/16em)) {
		&__video,
		&__image,
		&__photos {
			width: 110%;
			max-width: 110%;
			margin: 0 -5% 2rem;
		}
	}
	@media(min-width: (1120/16em)) {
		&__video,
		&__image,
		&__photos {
			width: 120%;
			max-width: 120%;
			margin: 0 -10% 2rem;
		}
	}
	@media(min-width: (1280/16em)) {
		&__video,
		&__image,
		&__photos {
			width: 140%;
			max-width: 140%;
			margin: 0 -20% 2rem;
		}
	}
}