// Komponenta Footer 1
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.1

@footer-bottom-height: 5rem;

.g-footer{
	position: relative;
	background: @c-bg-tertiary;
	color: @c-text-tertiary;
	
	&__top{
		border-bottom: 0.1rem solid @c-text-tertiary;
		padding: 7rem 1.5rem;
		text-align: center;	
			
	}
	
	&__bottom{
		padding: 3rem 1.5rem;
		width: 100%;
		
		.pure-g{
			width: 190rem;
		}
	}
	
	&__footer-nav{
		
	}
	
	&__i{
		text-align: center;
		margin: 1em 0;
		
		.content{
			padding: 0;
			min-width: 0;
		}
		
		h3{
			color: fadeOut(@c-bg-primary, 50%);
		}
		
		a{
			color: @c-bg-primary;
		}
		
		//kvůli wysiwyg trochu prasácky
		ul {
            list-style: none;
			padding: 0;
			margin: 1em 0;
			li {
				color: @c-bg-primary;
				padding: 0;
				margin: 0.25em 0;
			
				&:before{
					content: "";
				}	
			}
		}
		
		p{
			color: @c-bg-primary;
		}
	}
	
	&__logo{
		width: 126px;
		height: auto;
		margin-bottom: 2rem;
	}
	
	&__copy{
		color: @c-text-tertiary;
		font-size: 1em;
		text-align: center;
		height: @footer-bottom-height;
    	line-height: @footer-bottom-height;
		
		&__text{
			vertical-align: middle;
			display: inline-block;
			line-height: 1.2;
		}
	}
	
	&__soc{
		text-align: center;
		height: @footer-bottom-height;
    	line-height: @footer-bottom-height;
		margin-bottom: 2rem;
	}

	
	&__signature{
		margin: auto;
		text-align: center;
		height: @footer-bottom-height;
    	line-height: @footer-bottom-height;
		
	}
	
	@media (min-width: (700/16em)){
		&__copy{
			text-align: left;
			margin-bottom: auto;
		}

		&__signature{
			text-align: right;
		}	
	}

	@media (min-width: (1100/16em)){
		&__soc{
			margin-bottom: 0;
		}
		&__copy{
			text-align: left;
		}
		
		&__logo{
			margin-bottom: 3rem;
		}

		&__signature{
			text-align: right;
		}
		
		&__i{
			text-align: left;
			margin: 0;
		}
	}
	
}