// Komponenta A5 - Generic List - Ke stažení 2
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.1

// DALŠÍ VYUŽITÍ: detail aktualit

.g-g1{	
	margin-top: .7em;
	margin-bottom: .7em;
	
	&__grid{}
	
	&__item{
		padding: 1.3em 1em;
		
		/*&:first-of-type{
			margin-top: 0;
		}
		&:last-of-type{
			margin-bottom: 0;
		}*/
		
		&:after{
			content: ' ';
			display: block;
			clear: both;
		}
	}
	
	&__title{
		display: block;
		font-weight: bold;
        color: @c2;
        margin-bottom: .5em;
	}
	
	&__desc{
		display: block;
		margin: .3em 0 .7em;
	}
	
	&__type, &__size, &__updated{
		display: inline-block;
		margin-right: 1em;
	}

	
	&__file{
		display: block;
		margin-top: 10px;
	}
		
}