.g-g2{
	margin: @baseSpace 0;
	text-align: center;
	
	&__i{
		padding: 0 2rem;
		margin: 3rem 0;
	}
	
	&__image{
		display: block;
		margin-bottom: 1.5rem;
		height: 0;
		padding-bottom: 66.6%;
		overflow: hidden;
		position: relative;
		
		img{
			width: 110%;
			max-width: 110%;
			margin-top: -5%;
			margin-left: -5%;
			opacity: 0;
			transition: all 0.2s ease;
			
			&.lazyloaded{
				opacity: 1;
			}
		}
	}
	
	&__image--link:hover &{
		&__hover{
			opacity: 1;
			transition-timing-function: ease-out;
			
			&__middle{
				padding-top: 0;
				opacity: 1;
			}
			
			&__text{
				top: 0;
			}
		}
		
		&__play{
			opacity: 0;
		}
		
		&__img{
			margin-left: 0%;
		}
	}
	
	&__hover{
		&:extend(.fs9);
		display: table;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: all 0.3s ease-in;
		background: fadeout(@c-highlight, 60);
		color: @c-bg-primary;
		text-align: center;
		
		&__middle{
			vertical-align: middle;
			display: table-cell;
			padding-top: 15rem;
			opacity: 0;
			transition: .3s padding ease, .2s .1s opacity ease;
		
		}
		
		&__icon{
			width: 4.2rem;
			height: 4.2rem;
			display: block;
			margin: 1rem auto;
			path{
				fill: @c-bg-primary;
			}
		}
		
		&__text{
			display: block;
			margin: auto;
			position: relative;
			top: 8rem;
			transition: .3s ease-in;
		}
	}
	
	&__play{
		.playIcon(@c-highlight, 6.8rem);
	}
	
	&__title{
		color: @c-text-primary;
		.NeverUnderline();
	}
	
	&__meta{
		&:extend(.fs1);
		font-weight: 700;
		color: @c-text-secondary;
		line-height: 2;
		margin-bottom: 1rem;
		margin-top: 1rem;
		height: 2em;
        
        &__i{
            display: inline-block;
            margin-left: 1rem;
            margin-right: 1rem;
        }
		
		&__text{
			display: inline-block;
			vertical-align: middle;
            
            a{
                color: @c-text-secondary;
            }
		}
		
		&__icon{
			width: 2rem;
			height: auto;
			display: inline-block;
			vertical-align: middle;

			path{
				fill: @c-text-secondary;
			}
		}
	}
	
	
	
	&__desc{
		&:extend(.fs1);
		color: @c-text-secondary;
		font-weight: 400;
		margin: 0.7em 0;
		line-height: 1.4;
	}
	
	&__link{
		&:extend(.fs6);
		color: @c-text-primary;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.1em;
		position: relative;
		display: inline-block;
		margin: 1em 0;
		
		&:before{
			content: "";
			background: @c-highlight;
			width: 100%;
			height: 0.2rem;
			position: absolute;
			left: 0;
			bottom: -1rem;
		}
		
		&:after{
			content: "";
			width: 0;
			height: 0.2rem;
			background: @c-text-primary;
			position: absolute;
			left: 50%;
			bottom: -1rem;
			transition: all 0.2s linear;
		}
		
		&:hover{
			text-decoration: none;	
			
			&:after{
				width: 100%;
				left: 0;
			}
		}
	}
	
	
	//Modifikátory zarovnání
	&--left{
		text-align: left;
	}
	
	&--left &{
		&__link{
			&:after{
				left: 0;
			}
		}
	}
	
	&--right{
		text-align: right;
	}
	
	&--right &{
		&__link{
			&:after{
				left: auto;
				right: 0;
			}
		}
	}
    
    &--left &__meta__i:first-child{
        margin-left: 0;
    }
    
    &--right &__meta__i:last-child{
        margin-right: 0;
    }
}