.g-g3{
	&__i{
		.calcSize(padding-top, 5rem, 8rem);
		.calcSize(padding-bottom, 5rem, 8rem);	
		background: @c-bg-primary;
		
		&:nth-of-type(even){
			background: @c-bg-secondary;	
		}
	}
	
	&__wrap{
		display: table;
		height: 100%;
	}
	
	&__cell{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		position: relative;
	}
	
	
	&__image{
		max-width: 40rem;
		margin: auto;
		margin-bottom: 2rem;
		
		img{
			width: 100%;
			display: block;
			opacity: 0;
			transition: opacity .3s;
			
			&.lazyloaded{
				opacity: 1;
			}
		}
	}
	
	&__img{
		position: relative;
		min-height: 20rem;
	}
	
	&__filter{
		.calcSize(padding-top, 5rem, 8rem);
	}
		
	&__play{
		.playIcon(@c-highlight, 6.8rem);
	}
	
	
	&__content{
		vertical-align: middle;	
	}
	
	&__title{
		color: @c-text-primary;
		
		&:hover{
			text-decoration: none;
		}
	}
	
	&__meta{
		&:extend(.fs1);
		font-weight: 700;
		color: @c-text-secondary;
		line-height: 2;
		margin-bottom: 1rem;
		margin-top: -1rem;
		height: 2em;
        
        &__i{
            display: inline-block;
            margin-left: 1rem;
            margin-right: 1rem;
        }
		
		&__text{
			display: inline-block;
			vertical-align: middle;
            
            a{
                color: @c-text-secondary;
            }
		}
		
		&__icon{
			width: 2rem;
			height: auto;
			display: inline-block;
			vertical-align: middle;

			path{
				fill: @c-text-secondary;
			}
		}
	}
	
	&__desc{
		
	}
	
	&__link{
		margin-top: 2rem;	
	}
	
	@media (min-width: (700/16em)){
		&__content{
			padding-left: 5rem;
		}
		
		&__image{
			margin-bottom: 0px;
			margin: inherit;
		}
		
		&__i:nth-of-type(even) &{
			&__content{
				padding-right: 5rem;
				padding-left: 0;
			}
		}
	}
	
	
	//Modifikátory zarovnání
	&--left &{
		@media (min-width: (700/16em)){
			&__content{
				padding-left: 5rem;
			}
			&__i:nth-of-type(even) .g-g3__content{
				padding-right: 0;
				padding-left: 5rem;
			}
		}
	}
	
	&--right &{
		&__image{
			position: relative;
		}
		@media (min-width: (700/16em)){
			&__content{
				padding-left: 0;
				padding-right: 5rem;
			}
		}	
	}
    
    &--left &__meta__i:first-child{
        margin-left: 0;
    }
    
    &--right &__meta__i:last-child{
        margin-right: 0;
    }
}