.g-g4{
	margin: @baseSpace 0;
	text-align: center;
	&__wrap{
		position: relative;
		min-height: 30rem;
		margin: @baseSpace/4 0;
	}
	
	&__i{
		padding: 2rem 2rem;
		width: 100%;
		transition: all .3s ease;	
	}
	
	&__content{
		
	}
	
	
	
	&__meta{
		&:extend(.fs1);
		font-weight: 700;
		color: @c-text-secondary;
		line-height: 2;
		margin-bottom: 1rem;
		margin-top: -1rem;
		height: 2em;
        
        &__i{
            display: inline-block;
            margin-left: 1rem;
            margin-right: 1rem;
        }
		
		&__text{
			display: inline-block;
			vertical-align: middle;
            
            a{
                color: @c-text-secondary;
            }
		}
		
		&__icon{
			width: 2rem;
			height: auto;
			display: inline-block;
			vertical-align: middle;

			path{
				fill: @c-text-secondary;
			}
		}
	}
	
	&__icon{
		height: 12rem;
		line-height: 12rem;
		
		img{
			vertical-align: middle;
			display: inline-block;
			height: 70%;
			width: auto;
			max-width: 100%;
			line-height: 1;
			opacity: 0;
			transition: opacity .3s;
			
			&.lazyloaded{
				opacity: 1;
			}
		}
	}
	
	&__image{
        display: block;
		width: 100%;
		height: 0;
		padding-bottom: 66.6%;
		position: relative;
		overflow: hidden;
		
		img{
			vertical-align: middle;
			display: inline-block;
			height: auto;
			margin: auto;
			width: 100%;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			transition: opacity .3s;
			
			&.lazyloaded{
				opacity: 1;
			}
		}
	}
	
	&__title{
		margin-top: 0.7em;
		color: @c-text-primary;
		
		&__link{
			color: @c-text-primary;
			.NeverUnderline();
		}
	}
	
	&__desc{
		color: @c-text-secondary;
		line-height: 1.4em;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
	
	&__link{
		margin: 1em 0;
	}
	
	
	@media (min-width: (600/16em)){
		&__wrap{
			margin: 0;
			margin-bottom: -8rem;
		}
		&__i{
			&:hover{
				z-index: 11; 
				position: relative;
				background: darken(@c-bg-primary, 2);
				border-radius: 8px;
				box-shadow: 0 19px 35px rgba(0, 0, 0, 0.19);
			}
		}
		&__link{
			opacity: 0;
			min-width: 0;
		}
		
		&__i:hover &{
			&__link{
				opacity: 1;	
			}

			&__desc{
				color: @c-text-primary;
			}
		}
		
	}
	
	
	//Modifikátory zarovnání
	&--left{
		text-align: left;
	}
	
	&--right{
		text-align: right;
	}
	
	//Modifikátory počtu sloupců
	&--1 &{
		&__wrap{
			min-height: 27rem;	
		}	
	}
	
	&--2 &{
		@media(min-width: (600/16em)){
			&__wrap{
				min-height: 34rem;
			}
		}
		
		@media(min-width: (832/16em)){
			&__wrap{
				min-height: 30rem;
			}
		}
	}
	
	&--3 &{
		
	}
    
    &--left &__meta__i:first-child{
        margin-left: 0;
    }
    
    &--right &__meta__i:last-child{
        margin-right: 0;
    }
}