// Komponenta Hamburger 
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.1

// základní nastavení hamburgeru 
@hamburger-Bg-Color: @c-highlight;
@hamburger-Active-Bg-Color: @hamburger-Bg-Color;
@hamburger-Padding: 1rem;
@hamburger-Zindex: 1;
@hamburger-Active-Zindex: 50;
@hamburger-Item-Width: 2rem;
@hamburger-Item-Height: .2rem;
@hamburger-Item-Gap: .4rem;
@hamburger-Item-Bg: @c1;
@hamburger-Item-Active-Bg: @hamburger-Item-Bg;


.g-hamburger{
	
		position: relative;
		z-index: @hamburger-Zindex;
		display: inline-block;
		width:  @hamburger-Item-Width + (@hamburger-Padding * 2);
		//height: (@hamburger-Item-Height * 3) + (@hamburger-Item-Gap * 2) + (@hamburger-Padding * 2);
		//potřebuju čtvercový hamburger..
		height: @hamburger-Item-Width + (@hamburger-Padding * 2);
		padding: @hamburger-Padding;
		background: @hamburger-Bg-Color;
		transition: .4s;
		border-radius: 50%;
		cursor: pointer;
		margin-left: 5.5rem;
		text-align: left;
			
		&__i, &__i:after, &__i:before{
			height: @hamburger-Item-Height;
			width:  @hamburger-Item-Width;
			background: @hamburger-Item-Bg;
			transition: .4s;
		}

		@{openNavigation} &{
			background: @hamburger-Active-Bg-Color;
			z-index: @hamburger-Active-Zindex;
			
			&__title{
				opacity: 0;
			}
		}
		@{openNavigation} &__i, @{openNavigation} &__i:before, @{openNavigation} &__i:after{
			background: @hamburger-Item-Active-Bg;
		}
		
		// způsob animace hamburgeru po otevření
		.effect3();
		
		&__title{
			text-align: right;
			position: absolute;
			right: 100%;
			top: 50%;
			margin-top: -0.6rem;
			padding-right: 0.5rem;
			font-size: 1.3rem;
			font-weight: bold;
			color: @c-text-secondary;
			opacity: 1;
			transition: opacity .2s linear;
		}

	
	@media (min-width: @breakpointHeader){
		display: none;
	}
	
}


/////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
.effect1(){
	&__i, &__i:after, &__i:before{
		position: absolute;
	}
	&__i{
		left: @hamburger-Padding;
		bottom: @hamburger-Padding;
		transform: rotate(0deg);
		transition: .2s transform .2s, .2s bottom .30s, .2s margin .35s;
		&:after{
			content: ' ';
			bottom: (@hamburger-Item-Gap * 2) + (@hamburger-Item-Height * 2);
			transform: rotate(0deg);
			transition: .2s transform, .2s bottom .35s;
		}
		&:before{
			content: ' ';
			bottom: @hamburger-Item-Gap + @hamburger-Item-Height;
			transition: .2s bottom .35s;
		}
	}
	
	@{openNavigation} &__i, @{openNavigation} &__i:before, @{openNavigation} &__i:after{
		background: @hamburger-Item-Active-Bg;
	}
	@{openNavigation} &__i{
		transform: rotate(-45deg);
		transition: .4s background, .20s transform .25s, .20s bottom .25s;
		bottom: 50%;
		bottom: calc(~"50% - " (@hamburger-Item-Height / 2));
		&:after{
			bottom: 0;
			transform: rotate(-90deg);
			transition: .25s bottom, .15s transform .3s;
		}

		&:before{
			bottom: 0;
			transition: .25s bottom;
		}
	}
}

/////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
.effect2(){
	transition: .4s;
	&__i, &__i:after, &__i:before{
		position: absolute;
		transition: .4s;
	}
	&__i{
		left: @hamburger-Padding;
		top: @hamburger-Padding;
		&:after{
			content: ' ';
			top: (@hamburger-Item-Gap * 2) + (@hamburger-Item-Height * 2);
		}
		&:before{
			content: ' ';
			top: @hamburger-Item-Gap + @hamburger-Item-Height;
			opacity: 1;
		}
	}
	@{openNavigation} &{
		background: @hamburger-Active-Bg-Color;
	}
	@{openNavigation} &__i{
		transform: rotate(45deg); 
		top: 50%;
		top: calc(~"50% - " (@hamburger-Item-Height / 2));
		&:before{
			transform: rotate(-45deg) translate(-50%, 0);
			top: 0;
			opacity: 0;
		}

		&:after{
			transform: rotate(-90deg);
			top: 0;
		}
	}
}

/////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
.effect3(){
	transition: .4s;
	&__i, &__i:after, &__i:before{
		position: absolute;
		transition: .4s;
	}
	&__i{
		left: @hamburger-Padding;
		top: 50%;
		top: calc(~"50% - " (@hamburger-Item-Height / 2));
		transition: .22s transform .3s;
		&:before{
			content: ' ';
			top: 0 - @hamburger-Item-Gap - @hamburger-Item-Height;
			opacity: 1;
		}
		&:after{
			content: ' ';
			top: @hamburger-Item-Gap + @hamburger-Item-Height;
		}
		&:after, &:before{
			transform: rotate(0deg); 
			transition: .22s transform, .25s top .3s;
		}
	}
	@{openNavigation} &{
		background: @hamburger-Active-Bg-Color;
	}
	@{openNavigation} &__i{
		background: transparent;
		transition: .25s transform .22s;
		&:before{
			top: 50%;
			top: calc(~"50% - " (@hamburger-Item-Height / 2));
			transform: rotate(45deg); 
		}

		&:after{
			top: 50%;
			top: calc(~"50% - " (@hamburger-Item-Height / 2));
			transform: rotate(-45deg); 
		}
		&:after, &:before{
			transition: .25s top, .25s transform .22s;
		}
	}
}