// Komponenta Hlavička webu 1
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.2


@header-padding: 4.5rem;

.g-header{
	position: fixed;
	width: 100%;
	min-width: @minWidthContent;
	top: 0;
	left: 0;
	z-index: 15;
	background: fade(@c-bg-primary, 85%);
	transition: 0.2s linear all;
	
	&__logo{
		.HideText();
		display: block;
		margin: auto;
		margin-bottom: 1rem;
		width: 16rem;
		height: 4.3rem;
		text-align: center;
		
		&__img{
			max-width: 100%;
			height: auto;
			display: inline-block;
		}
	}
	
	
	
	&__line1{
	}
	
	&__client-zone{
		display: inline-block;
		height: 4rem;
		line-height: 4rem;
        margin-left: 0.5rem;
    	vertical-align: middle;
	}
	
	&__call{
		margin-left: 0.5rem;
		display: inline-block;
		vertical-align: middle;
	}
	
	&__lang-nav{
		margin-left: 0.5rem;
		position: relative;
		vertical-align: middle;
		display: inline-block;
		height: 4rem;
	}
	
	&__search-form{
		margin-left: 0.5rem;
		display: inline-block;
		height: 4rem;
		line-height: 4rem;
    	vertical-align: middle;
	}
	
	&__hamburger{
		margin-left: 0.5rem;
		display: inline-block;
    	vertical-align: middle;
	}
	
	
	&__top{
		padding: @header-padding/2.5 0.5rem;
	}

	&__bottom{
		padding: 0;		
	}
		
	// mobilní menu pouze sjíždí 
	&__nav{
		transition: .5s;
		position: fixed;
		top: -100%;
		left: 0;
		z-index: 20;
		width: 100%;
		height: 100%;
		overflow: auto;
			
		#menu-status:checked + .g-header &{
			top: 0;
		}
	}
		
	@{openNavigation} &{
		margin-bottom: 0.5rem;
	}
	
	
	&__right{
		text-align: center;
	}
	
	
	&--unpinned{
		top: -100%;	
	}
	
	@media (min-width: (400/16em)){
		&__top{
			padding: @header-padding/2.5 @header-padding/1.5;
		}
		
        &__client-zone,
		&__call{
			margin-left: 1rem;
		}

		&__lang-nav{
			margin-left: 1rem;
		}

		&__search-form{
			margin-left: 1rem;

		}

		&__hamburger{
			margin-left: 1rem;
		}
	}
	
	
	
	// pro desktopy
	@media (min-width: @breakpointHeader){
		border-bottom: 0.1rem solid darken(@c-bg-primary, 10%);
		
		&__top{
			padding: @header-padding/3 @header-padding;
			border-bottom: 0.1rem solid darken(@c-bg-primary, 10%);
			transition: padding 0.2s linear;
		}

		&__bottom{
			padding: 0 @header-padding;
			transition: padding 0.2s linear;		
		}
		
		&__nav{
			position: inherit;
			float: left;
			overflow: inherit;
			top: auto;
			left: auto;
			width: auto;
			height: auto;
		}
		
		&--unpinned{
			top: -6.5rem;
		}
		
		
		&--unpinned &{
			&__top{
				padding: @header-padding/4 @header-padding;		
			}
			
			&__bottom{
				padding: @header-padding/4 @header-padding;		
			}
		}
		
		
	}
	
	@media (min-width: (800/16em)){
		&__logo{
			float: left;
			margin-bottom: 0;
			width: 19rem;
		}
		&__right{
			text-align: right;
			float: right;
		}
        &__client-zone,
		&__call{
			margin-left: 2rem;	
		}
	}
}