@lang-nav-height: 4rem;
@lang-nav-width: @lang-nav-height;

.g-lang-nav{
	height: @lang-nav-height;
	text-align: center;
	position: relative;
	
	
	&__list{
		background: @c-highlight;
		border-radius: @lang-nav-height/2;
		height: 0;
		position: relative;	
		z-index: 2;
        margin: 0;
        padding: 0;
		padding-top: @lang-nav-height;
        list-style: none;
		max-height: 0;
		transition: max-height 0.2s ease-in;
	}
    
    &__i{
        display: block;
        margin: 0;
        padding: 0;
    }
	
	&__link{
		line-height: @lang-nav-height;
		width: @lang-nav-width;
		color: @c-bg-primary;
		display: block;
		position: relative;
		border-radius: 50%;
		background: transparent;
		opacity: 0;
		visibility: hidden;
		top: -@lang-nav-height;
		transition: all 0.2s linear;
		background: @c-highlight;
		font-weight: bold;
		text-transform: uppercase;
		
		&--active{
			position: absolute;
			top: 0;
			left: 0;
			visibility: visible;
			opacity: 1;
		}
		
		&:hover{
			text-decoration: none;
			background: darken(@c-highlight, 15%);
		}
		
	}
	
	
	&:hover &{
		&__list{
			height: auto;
			max-height: 16rem;	
			transition: max-height 0.2s ease-out;
		}
		&__link{
			top: 0;
			visibility: visible;
			opacity: 1;
			color: @c1;
		}
	}
	
    @media (hover: none) {
        &:hover & {
        
            &__list {
                background: @c-highlight;
                height: 0;
                max-height: 0;	
                transition: max-height 0.2s ease-out;
            }

            &__link {
                top: -@lang-nav-height;
                visibility: hidden;
                opacity: 0;
                color: @c-bg-primary;
                
                &--active {
                    border-radius: @lang-nav-height/2;
                    left: 0;
                    opacity: 1;
                    position: absolute;
                    top: 0;
                    visibility: visible;
                }
            }
        }
        
        &__link:hover {
			background: transparent;
        }
        
        #lang-nav-status:checked + & &__list {
            height: auto;
			max-height: 16rem;	
			transition: max-height 0.2s ease-out;
        }

        #lang-nav-status:checked + & &__link {
            top: 0;
			visibility: visible;
			opacity: 1;
			color: @c1;
            
            &--active {
                background: darken(@c-highlight, 15%);
            }
        }
    }
}