.g-map{
	&__zoom{
		margin-right: 1rem;
		&__i{
			display: block;
			width: 3rem;
			line-height: 3rem;
			text-align: center;
			font-size: 3rem;
			height: 3rem;
			margin-bottom: 0.5rem;
			background: @c-highlight;
			color: @c-bg-primary;
			transition: all 0.2s linear;
			
			&:hover {
				background: @c-bg-primary;
				color: @c-highlight;
				text-decoration: none;
			}
			
			//Modifikátory pro plus a mínus
			&--p{
				
			}
			
			&--m{
				
			}
		}	
	}	
	
	&__search{
		width: 50%;
		max-width: 40rem;
		min-width: 20rem;
		margin: 1rem;
		&__input{
			border-radius: 0.5rem;
			background: @c-bg-primary;
			border: 0.1rem @c-bg-secondary;
			padding: 1rem 1rem;
			font-size: 1.5rem;
			width: 100%;
			.Placeholder {
				color: @c-text-primary;
			}
		}
		
		&__ac{
			font-size: 1.2rem;
			background: darken(@c-bg-primary, 5);
			box-shadow: 0 0 0.5rem darken(@c-bg-primary, 30);
			&__i{
				padding: 1em;
				cursor: pointer;
					
				&:hover{
					background: @c-bg-primary;
				}	
			}
		}
	}
	
	//info window
	&__iw{
		&__content{
			
		}
		
		&__arrow{
			
		}
		
		&__arrow-shadow{
			
		}
	}
}
