// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.1

.g-photos{	
	padding-top: 2em;
	padding-bottom: 2em;
	
	&__item{
		margin: .3em .3em 1em;
		color: @c2;
		position: relative;
		display: block;
		overflow: hidden;
		height: 0;
		padding-bottom: 73%;
		
		&:before{
			content: "";
			background: fade(@c-highlight, 80);
			position: absolute;
			text-align: center;
			line-height: 100%;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: all 0.2s linear;
			z-index: 2;
		}
		
		&:after{
			content: "";
			background: url(../../images/icons/zoom-in.svg) no-repeat center center;
			position: absolute;
			top: 0;
			left: 0;
			text-align: center;
			line-height: 100%;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity 0.2s linear;
			z-index: 3;
		}
		
		&--video{
			&:after{
				background: url(../../images/icons/youtube.svg) no-repeat center center;
			}
		}
		
	}
	
	
	
	&__img{
		width: 100%;
		display: block;
		opacity: 0;
		transition: transform .4s ease, opacity .3s ease;
		
		&.lazyloaded{
			opacity: 1;
		}
	}
	
	
	&__title{
		display: block;
		font-size: .8em;
	}
	
	@media (min-width: (900/16em)){
		&__item{
			transition: .2s;
			&:hover{
				text-decoration: none;
				
				&:after, &:before{
					opacity: 1;
				}
			}
		}
		
		&__item:hover &__youtube &__img{
			opacity: .9;	
		}
		
		&__item:hover &__img{
			transform: scale(1.2);
		}
	}
}	