// Komponenta  AITOM podpis
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.1


.AitomLogo(@height, @color: @c-text-tertiary){
	// nastavuje se výška loga a barva (white, black, color)
	&__logo{
		width: @height * 2.9;
		height: @height;
	}
	
	&__symbol{
		&__path{
			fill: @color;
			transition: 1.8s;
			transform: rotate(0);
			transform-origin: 2rem center;
		}
	
	}
	&__text{
		&__path{
			fill: @color;
		}
	}
	
	&:hover &__symbol{
		&__path{
			transform: rotate(720deg);
		}
	}
}


.g-signature{
	height: 3rem;
	display: inline-block;
	vertical-align: middle;
	.AitomLogo(3.4rem, @c-text-tertiary);
}