/* Module Search */
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze šablony: 0.2

/////////////////////////////////////////////////
//////////////// formulář //////////////////////
///////////////////////////////////////////////
.search-form1{
	&__mobil-wrap{
		transition: opacity .3s linear;
		position: absolute;
		top: -100%;
		left: 0;
		right: 0;
		z-index: 999;
		padding: 2rem;
		width: 100%;
		opacity: 0;
		background: @c2;
		text-align: center;
		
		@{openSearch} &{
			opacity: 1;
			top: 100%; 
		}
	}
		
	&__text{
		display: inline-block;
		vertical-align: middle;
		width: 75%;
    	padding: 0.75rem 0;
    	font-size: 1.7rem;
		height: 5rem;
		color: @c-bg-primary;
		background: @c-text-primary;
		border: none;
		letter-spacing: 0;
		
		.Placeholder({
			color: @c-bg-primary;
		});
	}
		
	&__btn{
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		min-width: 0;
		margin: 0;
		width: 5rem;
		height: 5rem;
		text-align: center;
		margin-left: -5rem;
		background: @c-text-primary;
		border: none;
		text-indent: -9999rem;
		background: url(../../../images/icons/search.svg) no-repeat center center;
		background-size: 55% auto;
	}
	
	&__close{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		margin-left: 1rem;
		color: @c1;
		text-align: center;
		cursor: pointer;
		width: 4.5rem;
		height: 4.5rem;
		padding: 1.25rem;
		border-radius: 50%;
		text-align: center;
		background: fadeOut(@c-bg-primary, 90);
		transition: .2s all ease;
		
		&:hover{
			background: fadeOut(@c-bg-primary, 85);	
		}
		
		&__icon{
			width: 2rem;
			height: 2rem;
			vertical-align: top;
			display: inline-block;
			
			path{
				fill: @c-bg-primary;
			}
		}
	}
	
	&__call{
		background: @c-highlight;
		width: 4rem;
		height: 4rem;
		text-align: center;
		background-image: url('../../../images/icons/search.svg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% auto;
		cursor: pointer;
		display: block;
		border-radius: 50%;
		text-indent: -9999rem;
	}
	
	// pro desktopy
	@media (min-width: @breakpointHeader){
		&__mobil-wrap{
			overflow: hidden;
		}
		
		&__text{
			max-width: 80rem;
		}
	}
	
	@media(min-width: (500/16em)){
		&__text{
    		font-size: 2rem;
			letter-spacing: .1rem;
		}
	}

	@media(min-width: (800/16em)){
		&__text{
			width: 80%;
			font-size: 3rem;
			letter-spacing: .2rem;
		}
		
	}
}
