/* Module Search */
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze šablony: 0.2


//////////////////////////////////////////////////
//////////////// výsledky hledání ///////////////
////////////////////////////////////////////////

.search-result{
	margin: @baseSpace 0;
	
    &__item{
        padding: .7em;
    }
    &__title{
        font-weight: bold;
        display: block;
        padding-bottom: .3em;
        font-size: 2rem;
    }
    //&__subtitle{}
    //&__desc{}
    //&__no-items{}
}
