/* `Customizing Elementor style
----------------------------------------------------------------------------------------------------*/

.elementor-panel a,
.elementor-panel .elementor-element:hover .icon,
.elementor-panel .elementor-element:hover .title,
#elementor-template-library-header-logo i,
#elementor-introduction-title,
#elementor-template-library-modal a.elementor-template-library-blank-footer-link:hover { color: #95ca28 }

.elementor-panel .elementor-panel-navigation .elementor-panel-navigation-tab.active,
.elementor-template-library-menu-item.elementor-active { border-color: #8c735e }

body.elementor-editor-preview #elementor-mode-switcher,
.elementor-panel #elementor-panel-header,
#nprogress .bar,
#elementor-mode-switcher:hover { background: #95ca28 }

.elementor-button.elementor-button-success:not([disabled]),
.elementor-panel #elementor-panel-footer-save.elementor-save-active .elementor-button:not([disabled]) { background: #8c735e }

    #nprogress .peg { 

            -moz-box-shadow: 0 0 10px #95ca28, 0 0 5px #95ca28;
            box-shadow: 0 0 10px #95ca28, 0 0 5px #95ca28 }

.elementor-panel #elementor-panel-header-title,
.dialog-confirm-widget .dialog-widget-header,
.dialog-options-widget .dialog-widget-header { text-transform: lowercase }
.elementor-panel #elementor-panel-header-title:first-letter,
.dialog-confirm-widget .dialog-widget-header:first-letter,
.dialog-options-widget .dialog-widget-header:first-letter { text-transform: capitalize }

.elementor-device-desktop #elementor-preview-responsive-wrapper { min-width: 1000px }

/* `Customizing Elementor logo
----------------------------------------------------------------------------------------------------*/

.elementor-panel #elementor-ai-logo { position: relative }

    .elementor-panel #elementor-ai-logo #elementor-panel-header-title {
        background: #95ca28;
        display: inline-block;
        font-size: 12px;    
        line-height: 40px;
        overflow: hidden;
        padding: 0;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;
        z-index: 2 }

        .elementor-panel #elementor-ai-logo #elementor-panel-header-title img { display: none }

    .elementor-panel #elementor-ai-logo .ai-signature {
        display: block;
        height: 22px;
        left: 50%;
        margin: -11px 0 0 -32px;
        position: absolute;
        top: 50%;
        vertical-align: middle;
        z-index: 1 }

    .elementor-panel #elementor-ai-logo .ai-signature__logo {
        height: 22px;
        overflow: visible;
        width: 64px /* height * 2.9 */ }

    .elementor-panel #elementor-ai-logo .ai-signature__symbol__path {
    
    
            -webkit-transition: 1.8s;
            -webkit-transform: rotate(0);
            -webkit-transform-origin: 20px center;
            -moz-transition: 1.8s;
            -moz-transform: rotate(0);
            -moz-transform-origin: 20px center;
            -ms-transition: 1.8s;
            -ms-transform: rotate(0);
            -ms-transform-origin: 20px center;
            -o-transition: 1.8s;
            -o-transform: rotate(0);
            -o-transform-origin: 20px center;
            transition: 1.8s;
            transform: rotate(0);
            transform-origin: 20px center }

    .elementor-panel #elementor-ai-logo .ai-signature__symbol__path,
    .elementor-panel #elementor-ai-logo .ai-signature__text__path { fill: #ffffff }

    .elementor-panel #elementor-ai-logo .ai-signature:hover .ai-signature__symbol__path {


            -webkit-transform: rotate(720deg);
            -moz-transform: rotate(720deg);
            -ms-transform: rotate(720deg);
            -o-transform: rotate(720deg);
            transform: rotate(720deg) }

/* `Style attachment meta boxes
----------------------------------------------------------------------------------------------------*/

/* Hide required info */
.elementor-editor-active .media-frame .attachments-browser .compat-item .media-types.media-types-required-info { display: none }

.elementor-editor-active .media-frame .attachments-browser .compat-item .field p.help {
    font-size: 13px;
    font-style: italic;
    margin: 1em 0 0 }

/* `Style internaul URL control
----------------------------------------------------------------------------------------------------*/

.elementor-panel #elementor-panel-page-editor .elementor-control-type-internal_url .elementor-control-url-suggest-hide .elementor-control-url-target { display: none }

    .elementor-panel #elementor-panel-page-editor .elementor-control-type-internal_url .elementor-control-url-suggest-show input { padding-right: 46px }

    .elementor-panel #elementor-panel-page-editor .elementor-control-type-internal_url .elementor-control-input-wrapper { position: relative }

      .elementor-panel #elementor-panel-page-editor .elementor-control-type-internal_url .elementor-control-url-suggest {
          background: none;
          border: none;
          border-left: 1px solid;
          cursor: pointer;
          font-size: 10px;
          height: 100%;
          padding: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 40px;

            -webkit-border-radius: 0 3px 3px 0;
            -moz-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0 }

    .elementor-panel #elementor-panel-page-editor .elementor-control-type-internal_url .elementor-control-url-suggest-icon { opacity: .5 }

    .elementor-panel #elementor-panel-page-editor .elementor-control-type-internal_url input { direction: ltr }

    .elementor-panel #elementor-panel-page-editor .elementor-control-type-internal_url input:not(:focus) + .elementor-control-url-suggest { border-color: #d5dadf }

    .elementor-panel #elementor-panel-page-editor .elementor-control-type-internal_url input:focus + .elementor-control-url-suggest { border-color: #a4afb7 }

/* `Link Suggest modal
----------------------------------------------------------------------------------------------------*/

.link-suggest-modal-inside.find-box-inside { bottom: 0 }

.link-suggest-modal-search { padding-bottom: 16px }

.link-suggest-modal-search input {
    float: left;
    height: 30px }

.link-suggest-modal-search .button { width: auto }

    .link-suggest-modal-search .link-suggest-modal-submit { float: right }

.link-suggest-modal-search .clear { clear: both }

.link-suggest-modal-search-field {
	height: 28px;
	margin: 0 4px 0 0;
	width: 140px }

.link-suggest-modal-close {
	color: #666;
	cursor: pointer;
	height: 36px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	width: 36px }

    .link-suggest-modal-close:hover { color: #2ea2cc }

    .link-suggest-modal-close:before {
        content: '\f158';
        font: normal 20px/36px 'dashicons';
        speak: none;
        vertical-align: top;

            -webkit-font-smoothing: antialiased;
           -moz-osx-font-smoothing: grayscale }

.link-suggest-modal-output-field {
    background: #f3f3f3;
    display: none }

    .link-suggest-modal-output-field p {
        font-style: italic;
        margin-bottom: 16px;
        padding: 20px }

    .link-suggest-modal-output-field input {
        background: transparent;
        border: none;
        display: block;
        height: auto;
        margin-bottom: 15px;
        padding: 0 }

        .link-suggest-modal-output-field input::-moz-selection { background: yellow }
        .link-suggest-modal-output-field input::selection { background: yellow }

.link-suggest-modal-response { position: relative }

    .link-suggest-modal-response table {
        background: #fff;
        border-spacing: 0;
        border: 1px solid #e5e5e5;
        clear: both;
        margin: 0 0 16px;
        width: 100%;

            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
            box-shadow: 0 1px 1px rgba(0,0,0,.04) }

    .link-suggest-modal-response table tr td,
    .link-suggest-modal-response table thead tr th {
        border-bottom: 1px solid #e1e1e1;
        color: #555;
        padding: 8px 10px;
        text-align: left }

    .link-suggest-modal-response table thead tr th {
        color: #32373c;
        font-weight: 400;
        line-height: 1.4em }

        .link-suggest-modal-response table tr:nth-child(odd) td { background: #f9f9f9 }

        .link-suggest-modal-response table tr:hover td {
            background: #f3f3f3;
            cursor: pointer }

        .link-suggest-modal-response table tr.selected td,
        .link-suggest-modal-response table tr.selected:hover td {
            background: #8c735e;
            color: #fff;
            cursor: pointer }