.accordion{
	&__list{
		list-style-type: none;
		padding: 0;
		margin: @baseSpace 0 @baseSpace*1.5;
		
		&:last-child{
			margin-bottom: @baseSpace;
		}
	}

	
	&__i{
		border: .3rem solid @c-text-primary;
		transition: all 0.2s linear;
		margin-bottom: 0.4rem;
		display: block;
		
		&--open{
			margin-bottom: 2rem;
			border-color: @c-bg-secondary;
		}
	}
	
	&__input{
		display: none;
	}
	
	
	&__header{
		background: @c-text-primary; 
		.calcSize(padding-top, 2rem, 3rem);
		.calcSize(padding-bottom, 2rem, 3rem);
		.calcSize(padding-left, 1.5rem, 3rem);
		.calcSize(padding-right, 1.5rem, 3rem);
		transition: background 0.2s linear;
		position: relative;
		cursor: pointer;
	}	
	
	&__title{
		color: @c-bg-primary;
		margin: 0;
		.calcSize(padding-right, 4.5rem, 6rem);
		.calcSize(font-size, 2rem, 2.4rem);
	}
	
	&__arrow{
		position: absolute;
		top: 50%;
		.calcSize(margin-top, -1.5rem, -2rem);
		.calcSize(right, 1.5rem, 3rem);
		border-radius: 50%;
		.calcSize(width, 3rem, 4rem);
		.calcSize(height, 3rem, 4rem);
		background-color: @c-highlight;
		
		
		&:before, &:after{
			content: "";
			.calcSize(width, .6rem, 1rem);
			height: .2rem;
			background: @c-bg-primary;
			position: absolute;
			top: 50%;
			transition: all 0.2s linear;
		}
		
		&:after{
			transform: rotate(-45deg);
			left: 50%;
			.calcSize(margin-left, -.1rem, -.2rem);
		}
		
		&:before{
			transform: rotate(45deg);
			right: 50%;
			.calcSize(margin-right, -.1rem, -.2rem);
		}
	}
	
	&__content{
		max-height: 0;
		height: auto;
		transition: max-height 0.2s ease-out;
		overflow-y: hidden;
		
		p{	
			&:extend(.fs1);	
		}
	}
	
	&__wrap{
		.calcSize(padding-top, .5rem, 1rem);
		.calcSize(padding-bottom, 2rem, 3rem);
		.calcSize(padding-left, 1.5rem, 3rem);
		.calcSize(padding-right, 5rem, 7rem);
	}
	
	
	
	//Open state
	&__input:checked + &__i{
		border: 0.3rem solid @c-bg-secondary;
		margin-bottom: 2rem;
	}
	
	&__input:checked + &__i &{
		&__header{
			background: transparent;
		}	
		
		&__title{
			color: @c-text-primary;
		}
		
		&__content{
			max-height: 80rem;
			overflow-y: auto;	
		}
		
		&__arrow{
			&:after{
				transform: rotate(45deg);
				left: 50%;
				.calcSize(margin-left, -.1rem, -.2rem);
			}

			&:before{
				transform: rotate(-45deg);
				right: 50%;
				.calcSize(margin-right, -.1rem, -.2rem);
			}	
		}
		
		@media (min-width: (800/16em)){
			
			&__content{
				max-height: 40rem;	
			}
		}
	}
}