.call{
	line-height: 2.5rem;
	background: @c-highlight;
	width: 4rem;
	height: 4rem;
	overflow: hidden;
	border-radius: 50%;
	line-height: 4rem;
	text-align: center;
	
	&__link{
		.NeverUnderline();
	}
	
	&__icon{
		width: 2rem;
		height: 2rem;
		margin-right: 0rem;
		vertical-align: middle;
		&__path{
			fill: @c-bg-primary;
			stroke: @c-bg-primary;
			stroke-width: .3rem;
		}	
	}
	
	&__number{
		&:extend(.fs4);
		color: @c-link;
		line-height: 2rem;
		display: none;
		vertical-align: middle;
		margin-right: 1rem;
		
	}
	
	@media(min-width: (800/16em)){
		width:auto;
		background: none;
		border-radius: 0;
		
		&__icon{
			width: 2.3rem;
			height: 2.3rem;
			margin-right: 0.5rem;
			display: inline-block;
			vertical-align: middle;
			&__path{
				fill: @c-highlight;
				stroke: none;
			}	
		}
		
		&__number{
			display: inline-block;
		}
	}
	
}