.contact{
	margin: @baseSpace/2 auto;
	text-align: center;
	width: 100%;
	display: block;
	&__i{
		&:extend(.fs9);
		padding: @baseSpace/2;
		width: 100%;
		display: block;
	}
	&__title{
		margin-top: 0;
		margin-bottom: 1.5rem;
		color: @c-text-primary;		
	}
	
	&__address{
		margin-bottom: 0.5rem;
		font-weight: 300;
	}
	
	&__ico{	
		display: block;
		margin-bottom: 0.5rem;
		font-weight: 300;
	}
	
	&__phone{
		display: block;
		margin-bottom: 0.5rem;
		font-weight: 300;	
	}
	
	&__fax{
		display: block;	
		margin-bottom: 0.5rem;
		font-weight: 300;
	}
	
	&__email{
		display: block;
		margin-bottom: 0.5rem;
		font-weight: 300;	
	}
	
	//Modifikátory zarovnání
	&--left &{
		@media (min-width: (600/16em)){
			&__i{
				text-align: left;
			}
		}
	}
	
	&--right &{
		@media (min-width: (600/16em)){
			&__i{
				text-align: right;
			}
		}
	}
	
	
	&--left &, &--right &{
		&__i{
			margin: auto;
			max-width: 30rem;
		}
	}
	
	//Modifikátor zbarvení
	&--light &{
		&__title{
			color: @c-bg-primary;
		}
		
		&__address{
			color: @c-bg-primary;	
		}
		
		&__phone, &__fax, &__email, &__ico{
			color: @c-bg-primary;
		}
	}
}