@countup-2column-width: 37.5em;
@countup-3column-width: 56.25em;
@countup-4column-width: 68.75em;

.countup{
	text-align: center;
	position: relative;
	&__list{
		
	}
	
	&__i{
		padding: 2rem 0;
		max-width: 30rem;
		margin: auto;
		border-bottom: .1rem solid fadeOut(@c-bg-primary, 90);
		
		&:last-child{
			border-right: none;
			border-bottom: none;
		}
	}
	
	&__content{
		padding: 0 2rem;
		max-width: 27rem;
		margin: auto;
	}
	
	&__count{
		color: @c-highlight;
		.calcSize(font-size, 4.5rem, 5.8rem);
		margin-bottom: 2.5rem;
		margin-top: 3rem;
	}	
	
	&__unit{
		
	}
	
	&__desc{
		&:extend(.fs2);
		line-height: 1.3;
		color: @c-text-primary;
		margin-bottom: 3rem;
	}
	
	@media (min-width: @countup-2column-width){
		&__i{
			max-width: 100%;
		}
	}
	
	
	//Modifikátory zbarvení
	&--light &{
		
		&__count{
			color: @c-bg-primary;	
		}
		
		&__desc{
			color: @c-bg-primary;	
		}
	}	
	
	//Modifikátory zarovnání
	&--left{
		text-align: left;	
	}
	
	&--right{
		text-align: right;	
	}
	
	//Modifikátory počtu sloupců
	&--2 &{
		@media (min-width: @countup-2column-width){
			&__i{
				max-width: 100%;
				border-bottom: none;
				border-right: .1rem solid fadeOut(@c-bg-primary, 90);	
				&:nth-of-type(2n){
					border-right: none;
				}
			}
		}
	}
	
	&--3 &{
		@media (min-width: @countup-2column-width){
			&__i{
				max-width: 100%;
				
				&:last-child:nth-of-type(3n){
					border-bottom: none;
				}
			}
		}
		
		@media (min-width: @countup-3column-width){
			&__i{
				border-bottom: none;
				border-right: .1rem solid fadeOut(@c-bg-primary, 90);
				
				&:nth-of-type(3n){
					border-right: none;
				}
			}	
		}
	}
	
	&--4 &{
		@media (min-width: @countup-2column-width){
			&__i{
				max-width: 100%;
				border-bottom: none;
				border-right: 1px solid fadeOut(@c-bg-primary, 90);
				
				&:nth-of-type(2n){
					border-right: none;
				}
			}
		}
		
		@media (min-width: @countup-4column-width){
			&__i{
				&:nth-of-type(2n){
					border-right: 1px solid fadeOut(@c-bg-primary, 90);
				}
				
				&:nth-of-type(4n){
					border-right: none;	
				}
			}
		}
	}
}