@numbered-size: 10rem;

.numbered{
	margin: @baseSpace 0 @baseSpace*1.5;
	&__list{
		list-style-type: none;
		counter-reset: list;
		margin: 0;
		padding: 0;
	}
	&__i{
		margin: 2rem 0;
		counter-increment: list;
		position: relative;
	}
	
	&__number{
		//!!! Pozor toto je pouze fix kvůli špatnému line-height u Raleway fontu, jinak tu to nemá co dělat !!!
		font-family: arial;
	}
	
	&__title{
		margin-top: 0;
	}
	
	&__desc{
		&:extend(.fs1);
		color: @c-text-secondary;
		line-height: 1.3;
		margin-top: 1em;
	}
	
	&__table{
		width: 100%;
		height: 100%;
		display: table;
		
	}
	
	&__middle{
		display: table-cell;
		vertical-align: middle;
	}
	
	&--left &, &--right &{
		
		&__wrap{
			display: table;
			height: 100%;
			width: 100%;
			padding: 0 2rem;
		}
		
		
		&__content{
			width: 75%;
			display: table-cell;
			vertical-align: middle;
			min-height: 100%;
		}
		
		&__number{
			width: 25%;
			display: table-cell;
			vertical-align: middle;
			
			
			&__wrap{
				width: 100%;
				max-width: 100px;
				margin: auto;
			}
			
			&__i{
				width: 100%;
				height: 0;
				padding-bottom: 100%;
				position: relative;
			}
			
			
			&__border{
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 50%;
				border: .4rem solid darken(@c-bg-primary, 10);
				text-align: center;
			}
			
			&__value{
				width: 100%;
				text-align: center;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				top: 50%;
				font-size: 3rem;
				margin-top: -1.5rem;
				font-weight: 700;
				color: @c-highlight;	
			}
		}
		
		@media (min-width: (640/16em)){
			&__number{
				width: 20%;
			}
			
			&__content{
				width: 80%;
			}
		}
		
		@media (min-width: (800/16em)){
			&__number{
				width: 25%;
			}
			
			&__content{
				width: 75%;
			}
		}
	}
	
	&--center &{
		&__number{
			margin: auto;
			margin-bottom: 2rem;
			display: block;
			background: transparent;
			color: @c-highlight;
			text-align: center;
			line-height: 1;
			.calcSize(width, @numbered-size/3, @numbered-size);
			.calcSize(height, @numbered-size/3, @numbered-size);
			padding: 2rem;
			vertical-align: middle;
			box-sizing: border-box;
			border: .4rem solid darken(@c-bg-primary, 10);
			border-radius: 50%;
			.calcSize(font-size, 3rem, 5rem);
			font-weight: 700;
		}
	}
	
	&--left &{
		&__content{
			padding: 0 0 0 2rem;
		}
	}
	
	&--right &{
		&__content{
			padding: 0 2rem 0 0;
		}
	}
	
	
	
	//Left aligned	
	&--left{
		text-align: left;
	}
	
	//Right aligned	
	&--right{
		text-align: right;
	}
	
	//Centered list
	&--center{	
		text-align: center; 	
	}
	
	&--center &{
		&__i{
			&:before{
				margin: 0 auto 2rem auto;
			}
		}
		
		&__content{
			padding: 0 2rem;
		}
	}
	
	//1sloupec
	&--1&--left &, &--1&--right &{
		@media (min-width: (800/16em)){
		&__number{
			&__wrap{
				max-width: 150px;
			}
				
			&__value{
				font-size: 5rem;
				margin-top: -2.5rem;	
			}
		}
		}	
	}
	
}