.offices {
	margin: @baseSpace auto;
	&__map-wrap {
		width: 100%;
		max-width: 100rem;
		height: 0;
		padding-bottom: 60%;
		position: relative;
		margin: auto;
		
		
		@media (min-width: (640/16em)) {
			padding-bottom: 50%;
		}
		@media (min-width: (800/16em)) {
			padding-bottom: 40%;
		}
		@media (min-width: (880/16em)) {
			padding-bottom: 35%;
		}
	}
	&__map {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&__marker {
			
		}
		
	}
	
	&__items-wrap{
		width: 100%;
		max-width: 100rem;
		margin: auto;
	}
	
	&__items{
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		margin: auto;
		position: relative;
	}
	
	&__items.owl-carousel{
		width: 80%;
		overflow: visible;
		margin: 0 10%;
		
		.owl-wrapper-outer{
			z-index: 2;
		}
	}
	
	&__i{
		white-space: normal;
		display: inline-block;
		cursor: pointer;
		background: @c-bg-primary;
		text-align: center;
		padding: 2rem 2rem;
		width: 100%;
		
		&__title{
			margin-top: 0;
		}
	}
	
	.owl-controls {
		position: absolute;
		top: 0;
		width: 125%;
		margin-left: -12.5%;
		margin-top: 0;
		height: 100%;
		
		.owl-buttons div{
			margin: 0;
			height: 100%;
			width: 10%;
			border-radius: 0;
			background: darken(@c-bg-primary, 10);
			transition: background 0.2s linear;
			position: absolute;	
			top: 0;
			opacity: 1;
			padding: 0;
			display: block;
			.HideText();
			
			&:hover{
				background: darken(@c-bg-primary, 20);
			}
		}
		
		.owl-prev{
			left: 0;
			&:before, &:after{
				content: "";
				width: 1.6rem;
				height: 0.3rem;
				margin-left: -0.8rem;
				background: @c-text-primary;
				top: 50%;
				left: 50%;
				position: absolute;
				
			}
			
			&:before{
				transform: rotate(45deg);
				margin-top: 0.55rem;
			}
			
			&:after{
				transform: rotate(-45deg);
				margin-top: -0.55rem;
			}
		}
		
		.owl-next{
			right: 0;
			
			&:before, &:after{
				content: "";
				width: 1.6rem;
				height: 0.3rem;
				margin-right: -0.8rem;
				background: @c-text-primary;
				top: 50%;
				right: 50%;
				position: absolute;
				
			}
			
			&:before{
				transform: rotate(45deg);
				margin-top: -0.55rem;
			}
			
			&:after{
				transform: rotate(-45deg);
				margin-top: 0.55rem;
			}
		}
	}
	
	@media (min-width: (720/16em)){
		&__items.owl-carousel{
			width: 84%;
			overflow: visible;
			margin: 0 8%;
		}
		
		.owl-controls {
			width: 120%;
			margin-left: -10%;
			
			.owl-buttons div{
				width: 8%;
			}
		}
	}
	
	@media (min-width: (880/16em)){
		&__items.owl-carousel{
			width: 91%;
			overflow: visible;
			margin: 0 4.5%;
		}
		
		.owl-controls {
			width: 110%;
			margin-left: -5%;
			
			.owl-buttons div{
				width: 4.5%;
			}
		}
	}
	
	
	//Modifikátory zobrazení
	&--up &, &--down &{
		&__items-wrap{
		}
		
		&__i{
			height: 17rem;
			display: table;
			border-right: 0.2rem solid @c-bg-secondary;
			
			&__middle{
				display: table-cell;
				vertical-align: middle;
			}
			
			&:first-of-type{
				margin-left: 0;	
			}
			
			&:last-of-type{
				margin-right: 0;
			}
		}
	}
	
	&--left &, &--right &{

		@media(min-width: (700/16em)){
			&__items{
				margin: 0;
				height: 50rem;
				overflow-y: auto;
				overflow-x: hidden;
				max-height: 100%;
				white-space: normal;
			}

			&__i{
				width: 100%;
				text-align: center;
				border-bottom: 0.2rem solid @c-bg-secondary;


				&:last-of-type{
					border-bottom: 0;
				}
			}
			&__map-wrap{
				height: 500px;
				padding-bottom: 0;
			}
		}
	}
	
	//Modifikátory zbarvení
	&--dark &{
		&__i{
			background: @c-bg-secondary;
			border-color: @c-bg-primary;
		}	
	}
	
}