.page-header{
	background-size: cover;
	//background-image: url("../../../images/bg/pageheader-400w.jpg");
	background-position: center center;
	background-color: @c-highlight;
	position: relative;
	.calcSize(padding, 2rem, 3rem);
	text-align: center;
	
	&__bg{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		transition: opacity .3s;
		background-position: center center;
		background-size: cover;
		
		&.lazyloaded{
			opacity: 1;
		}
		
	}
	
	&__title{
		z-index: 2;
		position: relative;
		color: @c-bg-primary;
		margin: 0.5em auto 0.5em;
		max-width: 90rem;	
	}
	
	&__perex{
		&:extend(.fs5);
		z-index: 2;
		position: relative;
		color: @c-bg-primary;
		margin: -1.5em auto 2em;
		max-width: 80%;
	}
	
	&:after{	
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		background-repeat: repeat-x;
		background-size: auto 100%;
		background-image: url('../../../images/gradients/gradient-pageheader.png');
		background-image: linear-gradient(to top, fade(darken(@c-highlight, 30), 80) 30%, rgba(255,255,255,0) 90%);
	}
	
	&--in-section{
		.calcSize(margin-top, -4rem, -6rem);
	}
	
	/*
	@media(min-width: (400/16em)){
		background-image: url("../../../images/bg/pageheader-600w.jpg");
	}
	
	@media(min-width: (600/16em)){
		background-image: url("../../../images/bg/pageheader-800w.jpg");
	}
	
	@media(min-width: (800/16em)){
		background-image: url("../../../images/bg/pageheader-1200w.jpg");
	}
	
	
	@media(min-width: (1200/16em)){
		background-image: url("../../../images/bg/pageheader-1600w.jpg");
	}
	
	
	@media(min-width: (1600/16em)){
		background-image: url("../../../images/bg/pageheader.jpg");
	}
	*/
	
}