.person {
	margin: @baseSpace/2 auto;
	&__i {
		text-align: center;
		padding: 0 3%;
		margin: @baseSpace/2 0;
	}
	&__image {
		&__wrap {
			border-radius: 50%;
			display: inline-block;
			width: 80%;
			height: 0;
			padding-bottom: 80%;
			overflow: hidden;
			box-sizing: content-box;
			border: 0.5rem solid darken(@c-bg-primary, 20);
			img {
				width: 100%;
				height: auto;
				/*
				opacity: 0;
				transition: .2s opacity;
				
				&.lazyloaded{
					opacity: 1;
				}
				*/
			}
		}
	}
	
	&__link{
		&:hover{
			text-decoration: none;
		}	
	}
	
	&__name {
		&:extend(.fs5);
		color: @c-text-primary;
		margin: 0 0 1rem;
		
		&:hover{
			text-decoration: none;
		}
	}
	&__perex {
		&:extend(.fs1);
		color: @c-text-secondary;
		font-weight: bold;
		display: block;
		margin-top: -0.5rem;
		margin-bottom: 1rem;
	}
	&__phone {
		color: @c-text-secondary;
		display: block;
		margin-bottom: 0.5rem;
	}
	&__email {
		color: @c-text-secondary;
		word-wrap: break-word;
	}
	
	
	//Modifikátor zarovnání
	&--center & {
		text-align: center;
		&__image {
			width: 100%;
			max-width: 25rem;
			margin: 0 auto 2rem;
		}
		&__information {
			text-align: center;
		}
	}
	&--left & {
		text-align: left;
		&__image {
			text-align: left;
		}
		&__information {
			display: table-cell;
			vertical-align: middle;
			text-align: left;
		}
		&__wrap {
			display: table;
			height: 100%;
			width: 100%;
		}
	}
	&--right & {
		text-align: right;
		&__image {
			text-align: right;
		}
		&__information {
			display: table-cell;
			vertical-align: middle;
			text-align: right;
		}
		&__wrap {
			display: table;
			height: 100%;
			width: 100%;
		}
	}
}