@social-size: 4rem;

.social{
	height: @social-size;
	vertical-align: middle;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: auto;
	
	&__i{
		display: inline-block;
		margin: 0 .5rem;
		
		&:hover{
			text-decoration: none;	
		}
	}
	
	&__icon{
		display: block;
		margin-right: 1.5rem;
		width: @social-size;
		height: @social-size;
		
		&__path{
			fill: @c-text-tertiary;
			transition: all 0.5s ease;	
		}

		&:last-child{
			margin-right: 0;
		}

		&:hover &{
			&__path{
				fill: @c-bg-primary;	
			}	
		}
	}
}