.timeline{
	margin: @baseSpace/2 auto;
	position: relative;
	overflow: hidden;
	max-width: 96rem;
	
	&:before{
		content: "";
		display: block;
		width: 0.2rem;
		margin-left: -0.1rem;
		position: absolute;
		left: 8%;
		background: @c-bg-secondary;
		height: 100%;
	}
	
	&__year{
		&:extend(.fs2);
		display: block;
		width: 8rem;
		height: 8rem;
		line-height: 7rem;
		margin: @baseSpace/2 0;
		margin-left: -4rem;
		border: 0.5rem solid @c-bg-primary;
		background: @c-highlight;
		border-radius: 50%;
		color: @c-bg-primary;
		text-align: center;
		position: absolute;
		left: 8%;
		font-weight: bold;
	}
	
	&__point{
		display: block;
		background: @c-highlight;
		position: absolute;
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
		left: 8%;
		border: 0.5rem solid @c-bg-primary;
		margin: 2.5rem 0;
		margin-left: -2rem;
	}
	
	&__title{
		margin-top: 0;
		
	}
	
	&__text{
		color: @c-text-secondary;
	}
	
	&__image{
		margin-top: 2rem;
		width: 100%;
		height: 0;
		padding-bottom: 66.6%;
		
		img{
			width: 100%;
		}
	}
	
	
	
	&__i{
		&__hidden{
			visibility: hidden;
		}
		
		&__bounce{
			animation-name: bounce2;
			animation-duration: 0.6s;	
		}
		
		&__content{
			width: 85%;	
			padding: 3rem 2rem;
			position: relative;
			float: right;
			/*
			background: @c-bg-primary;
			border: 0.1rem solid @c-bg-secondary;
			border-radius: 1rem;
			box-shadow:  0 0.3rem 0.2rem @c-bg-secondary;
			&:before{
				content: "";
				position: absolute;
				top: 1.9rem;
				right: 100%;
				height: 0;
				width: 0;
				border: 1.5rem solid transparent;
				border-right: 1.5rem solid @c-bg-secondary;
			}
			
			&:after{
				content: '';
				position: absolute;
				top: 2rem;
				right: 100%;
				height: 0;
				width: 0;
				border: 1.3rem solid transparent;
				border-right: 1.3rem solid @c-bg-primary;
				
			}
			*/
		}
		
		&:after{
			content: "";
			display: table;
			clear: both;
		}
	}
	
	@media(min-width: (800/16em)){
		&:before{
			left: 50%;
			margin-left: -0.2rem;
		}
		
		&__year{
			left: 50%;
			margin-left: -4.5rem;
			width: 9rem;
			height: 9rem;
			line-height: 8rem;
		}
		
		&__point{
			left: 50%;
			margin-left: -2rem;
			width: 4rem;
			height: 4rem;	
		}
		
		
	
		&__items:nth-of-type(even) &{
			&__i{
				&__content{
					float: left;
					/*
					&:before{
						left: 100%;
						right: auto;
						border-color: transparent;
						border-left-color: @c-bg-secondary;
					}

					&:after{
						left: 100%;
						right: auto;
						border-color: transparent;
						border-left-color: @c-bg-primary;
					}
					*/
				}	
			}
		}
		
		&__i{
			&__content{
				width: 45%;	
			}
		}	
	}
	
	@media(min-width: (1008/16em)){
		overflow: visible;
	}
	
}