.title-perex{
	max-width: 90.5rem;
	margin: @baseSpace/2 auto;
	margin-bottom: 3rem;
	width: 100%;
	text-align: center;
	
	&__title{
		margin: 0em 0 0.2em 0;
		color: @c-text-primary;	
	}
	
	
	&__perex{
		&:extend(.fs2);
		color: @c-text-secondary;
		margin-top: @baseSpace/2;
		.calcSize(margin-bottom, 3rem, 5rem);
		line-height: 1.6;
	}

	//Modifikátory zbarvení
	&--light &{
		&__title{
			color: @c-bg-primary;
		}
	}
	
	//Modifikátory zarovnání
	&--left{
		text-align: left;	
	}
	
	&--right{
		text-align: right;
	}
}