.ajax{
	&__wrap{
		position: relative;	
	}
	
	&__alert{
		position: absolute;
		top: 15rem;
		left: 50%;
		opacity: 0;
		display: none;
		transition: opacity 0.2s linear;
		
		&--start{
			display: block;
			opacity: 1;
		}
	}
	
	&__content{
		opacity: 1;
		transition: opacity 0.2s linear;
		
		&--start{
			opacity: 0.2;		
		}
	}
}