.filter{
	margin: auto;
	text-align: center;
	
	&__wrap{
		margin-top: 10rem;
		margin-bottom: -3rem;
		position: relative;
		z-index: 2;
	}
	
	&__input{
		display: none;		
	}
	
	&__btn{
		&:extend(.fs7);
        .NeverUnderline();
		border: .2rem solid @c-highlight;
		color: @c-text-primary;
		border-radius: 2em;
		background: transparent;
		padding: 1.2em 1em;
		min-width: 15rem;
		text-align: center;
		display: inline-block;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0.5em;
		cursor: pointer;
	}
	
	//Btn selected
	input:checked + &__btn,  &__all--checked{
    	background: @c-highlight;
    	color: @c-bg-primary;
	}
	
	&__submit{
		display: none;
	}
	
	
}