// Komponenta Patička webu 1 
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.1

.footer-nav{	
	text-align: center;
	padding: 20px 0;
	&__i{
		color: #fff;
		margin: 0 10px;
		position: relative;
		padding-bottom: 5px;
	}
	
	
}