.loader {
	width: 8rem;
	height: 8rem;
	margin: auto;
	margin-top: -4rem;
	margin-left: -4rem;
	position: relative;

	&__child{
		width: 100%;
	  	height: 100%;
	  	position: absolute;
	  	left: 0;
	  	top: 0;
		
		&:before{
			content: '';
		  	display: block;
		  	margin: 0 auto;
		  	width: 15%;
		  	height: 15%;
		  	background-color: @c-highlight;
		  	border-radius: 100%;
		  	animation: bounce 1.2s infinite ease-in-out both;	
		}
	}
}

@iterations: 12;
.loader-loop (@i) when (@i <= @iterations) {
    .loader .loader@{i} {
		@deg: @i*30;
		@delay: (12 - @i)/10;
        transform: ~"rotate(@{deg}deg)";
		&:before {
          animation-delay: ~"-@{delay}s"; 
		}
    }
    .loader-loop(@i + 1);
}

.loader-loop (1);