// Komponenta Hlavní navigace 1
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.3.0546


.nav{
	display: table;
	width: 100%;
	height: 100%;
	background: @c2;
	
	
	&__list0,&__list1,&__list2{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	////////////////////////
	// první úroveň menu //
	&__list0{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	
	
	&__link0{
		display: block;
		margin: 1.2em 0;
		color: @c1;
		font-size: 1.35em;
	}
	&__i0{
		margin: 0;
		&:before{
			content: none;
		}
	}
		
		
	
	/////////////////////////////////////////
	//////////  DESKTOP MENU ///////////////
	
	@media (min-width: @breakpointHeader){
		display: block;
		width: auto;
		height: auto;
		background: none;
		
		////////////////////////
		// první úroveň menu //
		//&__list0{}
		&__i0{
			float: left;
			position: relative;
			padding: 1.5rem 0;
		}
		
		&__i0:first-child &{
			&__link0{
				margin-left: 0;
			}
		}
		
		&__i0:last-child &{
			&__link0{
				margin-right: 0;
			}
		}
		
		
		&__link0{
			display: block;
			font-size: 1.8rem;
			padding: .5rem ;
			margin: 0 2rem;
			color: @c-link;
			position: relative;
			
			&:after{
				content: "";
				width: 0;
				height: .2rem;
				background: @c-highlight;
				position: absolute;
				bottom: 0;
				left: 50%;
				transition: 0.2s all linear;
			}
			
			
			&:hover{
				text-decoration: none;
				
				&:after{
					width: 80%;
					width: calc(~"100% - 1.2rem");
					left: .6rem;
				}
			}
			
			&--active{
				&:after{
					content: "";
					width: 80%;
					width: calc(~"100% - 1.2rem");
					left: .6rem;
					height: .2rem;
					background: @c-text-primary;
					position: absolute;
					bottom: 0;
				}
				&:hover:after{
					background: @c-highlight;	
				}
			}
		}
		
		//Druhá úroveň menu
		&__list1{
			display: none;
		}
		
		
		
		
	} 
	
	
}
