//Submenu - subkomponenta pro komponentu Navigace 
.nav{
	
	////////////////////////
	// druhá úroveň menu //
	&__list1{
		display: none;
	}
	//&__i1{}
	//&__link1{}
	
	
	////////////////////////
	// druhá úroveň menu //
	//&__i1{}
	//&__link1{}
		
	
	/////////////////////////////////////////
	//////////  DESKTOP MENU ///////////////
	
	@media (min-width: @breakpointHeader){
		////////////////////////
		// druhá úroveň menu //
		&__list1{
			display: none;
			position: absolute;
			left: 0;
			margin-top: 1.5rem;
			background: @c-bg-primary;
			display: none;
			text-align: left;
			padding: 0;
			box-shadow: 0.5rem 0.5rem 1rem fadeOut(darken(@c-text-primary, 5%), 50);
		}
		&__i1{
			position: relative;
			white-space: nowrap;
			margin: 0 0;
			min-width: 15rem;
		}
		
		&__link1{
			display: block;
			padding: 1rem 2rem;
			color: @c-link;
			transition: .2s all ease;
			
			&--active{
				text-decoration: underline;
			}
			
		}
		
		&__i1:hover &{
			&__link1{
				background: @c-highlight;
				color: @c1;
				text-decoration: none;
			}		
		}
		
		&__i1--submenu:hover &{
			&__link1{
				&:after{
					border-left-color: @c-bg-primary;
				}
			}	
		}
		
		//has submenu
		&__i1--submenu &{
			&__link1{
				padding-right: 3rem;
				
				
				&:after{
					content: "";
					border-left: 0.75rem solid @c-highlight;
					border-top: 0.5rem solid transparent;
					border-bottom: 0.5rem solid transparent;
					position: absolute;
					right: 1.5rem;
					top: 1.5rem;
					transition: .2s border-color ease;
				}	
			}	
		}
		
		
		////////////////////////////////
		// Hover: Vyjetí druhé menu  //
		&__i0:hover &__list1{
			display: block;
	
		}
		
		
		////////////////////////
		// třetí úroveň menu //
		&__list2{
			position: absolute;
			background: @c1;
			display: none;
			left: 100%;
			top: 0;
			padding: 0;
			box-shadow: 0.5rem 0.5rem 1rem fadeOut(darken(@c-text-primary, 5%), 50);
		}
		
		&__i2{
			text-align: left;
			transition: .2s all ease;
			&:hover{
				background: @c-highlight;
			}
		}
		
		&__i2:hover &{
			&__link2{
				color: @c-bg-primary;
				text-decoration: none;
			}
		}
		
		&__link2{
			padding: 1rem 2rem;
			min-width: 12rem;
			display: block;
			transition: .2s all ease;
			color: @c-link;
			&--active{
				text-decoration: underline;
			}
		}
		
		////////////////////////////////
		// Hover: Vyjetí třetí menu  //
		&__i1:hover &__list2{
			display: block;
		}
		
	}
}