//Megamenu - subkomponenta pro komponentu Navigace  
.nav{

	/////////////////////////////////////////
	//////////  DESKTOP MENU ///////////////
	
	@media (min-width: @breakpointHeader){
		&__i0{
			position: inherit;
		}
		
		////////////////////////
		// druhá úroveň menu //
		&__list1{
			display: none;
			position: absolute;
			padding: 2rem @header-padding 1.5rem;
			width: 100%;
			left: 0;
			top: 0;
			z-index: -1;
			background: @c-bg-secondary;
			display: none;
			text-align: left;
			box-shadow: 0rem 0.5rem 1rem fadeOut(darken(@c-text-primary, 5%), 50);
			transition: .3s top ease;
		}
		
		&__i1{
			display: block;
			float: left;
            padding: .5rem;
			width: 100%;
		}
        
        &__i0[data-cols="2"] &__i1{
            width: 50%;
        }
        
        &__i0[data-cols="3"] &__i1{
            width: 33.33%;
        }
        
        &__i0[data-cols="4"] &__i1{
            width: 25%;
        }
        
        &__i0[data-cols="5"] &__i1{
            width: 20%;
        }
        
        &__i0[data-cols="6"] &__i1{
            width: 16.66%;
        }
        
        &__i0[data-cols="2"] &__i1:nth-child(2n+1),
        &__i0[data-cols="3"] &__i1:nth-child(3n+1),
        &__i0[data-cols="4"] &__i1:nth-child(4n+1),
        &__i0[data-cols="5"] &__i1:nth-child(5n+1),
        &__i0[data-cols="6"] &__i1:nth-child(6n+1) {
            clear: both;   
        }
		
		////////////////////////////////
		// Hover: Vyjetí druhé menu  //
		&__i0:hover &__list1{
			display: block;
			top: 100%;
		}
	
        &__link1{
            color: @c-link;
            display: inline-block;
            font-size: 1.8rem;
            margin-bottom: 1rem;
            padding-bottom: .5rem;
            position: relative;
            
            &:after{
				content: "";
				width: 0;
				height: .2rem;
				background: @c-highlight;
				position: absolute;
				bottom: 0;
				left: 50%;
				transition: 0.2s all linear;
			}
			
			
			&:hover{
				text-decoration: none;
				
				&:after{
					width: 100%;
					left: 0;
				}
			}
			
			&--active{
				&:after{
					content: "";
					width: 100%;
					left: 0;
					height: .2rem;
					background: @c-text-primary;
					position: absolute;
					bottom: 0;
				}
				&:hover:after{
					background: @c-highlight;	
				}
			}
        }
        
        ////////////////////////
		// třetí úroveň menu //
        
        &__list2{
            margin: 0;
        }
        
        &__i2{
            margin-bottom: 1rem;
        }
        
        &__link2{
            color: @c-link;
        }
	}
}