// Komponenta stránkování
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.2

.paginator{
	text-align: center;
	padding: 1.5em 0 .5em;
	&__i{
		&:extend(.fs8);
		display: inline-block;
		background: transparent;
		border: 1px solid transparent;
		transition: .3s;
		border-radius: 50%;
		color: @c-text-primary;
		line-height: 5rem;
		width: 5rem;
		height: 5rem;
		text-align: center;
		font-weight: 700;
		transition: all 0.2s linear;
		
		&:hover{	
			border: .1rem solid @c-highlight;	
			text-decoration: none;
		}
		
		&--prev{
			background: transparent;
			color: @c-text-primary;
			border: none !important;
			
		}
		&--last, &--first{
			background: transparent;
			color: @c-text-primary;
			border: none !important;
		}
		&--next{
			background: transparent;
			color: @c-text-primary;
			border: none !important;
		}
		&--active{
			background: @c-highlight;
			color: @c-bg-primary;
		}
	}
}