.radio{
	width: 2rem;
	height: 2rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5rem;
			
	&__path{
	}
			
	&__frame{
		fill: darken(@c-bg-primary, 15);
	}
			
	&__check{
		opacity: 0;
		fill: @c-highlight;
		transition: .2s linear all;
		transform-origin: center center;
		transform: scale(0);
	}
}

.radio-svg{
	input[type="radio"]:checked+ .radio .radio__check{
		opacity: 1;
		transform: scale(1);
	}

	input[type="radio"]{
		display: none;
	}	
}

		