// Komponenta A5 - Galerie výpis 1
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.1

.gallery-list{
	padding-top: 2em;
	padding-bottom: 2em;
	
	&__grid{}
	
	&__item{
		padding: 2%;
		color: @c2;
		&:hover{
			text-decoration: none;
		}
	}
	
	&__img{
		width: 100%;
		display: block;
	}
	
	&__title{
		margin: .5em 0 1em;
		font-size:.9em;
	}
	
	@media (min-width: 900px){
		&__item{
			transition:.2s;
			&:hover{
				transition:.4s;
				transform: translate(0, -10px);
			}
		}	
	}
}