// Komponenta A5 - Galerie detail 1
// Autor: AITOM Group s.r.o., www.aitom.cz, e-mail: info(@)aitom.cz
// Verze: 0.1

.gallery-detail{
	padding-top: 2em;
	padding-bottom: 2em;
	
	&__title{
		margin: 0;
	}
	&__date{
		font-size: .8em;
	}
	&__desc{
		margin: 1em 0 2em;
		p{
			&:first-of-type{
				margin-top: 0;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
}